<div class="welcome-wrapper">
  <window-frame window-title="Welcome" focus-name="welcome" [percent-height]="50" [percent-width]="60" [hide-buttons]="true">
    <div class="frame-contents">
      <div class="padding">
        <div class="top">
          <h1>Welcome to Zach Dodson's Portfolio</h1>
        </div>

        <div class="middle">
          <div class="tip-box">
            <div class="icon">
              <img src="assets/icons/tip.svg" alt="Tip icon" />
            </div>
            <div class="text">
              <div class="header">
                <h2>Did you know...</h2>
              </div>
              <div class="tip">
                <p>
                  {{ tips[tipDisplayIndex()] }}
                </p>
              </div>
            </div>
          </div>

          <div class="buttons">
            <button (click)="whatsNewButtonHelper()"><span>What's New</span></button>
            <button (click)="githubProfileButtonHelper()"><span>My GitHub Profile</span></button>
            <button (click)="nextTipHelper()"><span>Next Tip</span></button>
            <button (click)="previousTipHelper()"><span>Previous Tip</span></button>
          </div>
        </div>

        <div class="bottom">
          <div class="checkbox">
            <input type="checkbox" name="show-on-startup" id="show-on-startup" checked />
            <label for="show-on-startup">Show this Welcome Screen next time you start Windows</label>
            <!-- TODO needs to be checked by default, unless value changed by local storage -->
          </div>
          <div class="button">
            <button>
              <span class="border">Close</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </window-frame>
</div>
