@use "../../../scss/styles.scss" as *;
@use "../../../scss/colors.scss" as *;

.start-subitem-wrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 4px);
  height: 32px;
  gap: 8px;
  padding-left: 4px;

  img {
    width: 22px;
    @include icon-common();
  }

  p {
    font-size: 15px;
    color: black;
    @include text-common();
  }

  &:hover {
    background-color: $win-95-highlight;

    p {
      color: white;
    }
  }
}
