<div class="program-menu-wrapper">
  <window-frame window-title="Mobile Program Menu" focus-name="program-menu" window-icon="assets/icons/program-folder.svg" [prevent-resizing]="true">
    <div class="frame-contents">
      <!-- <start-item icon="assets/icons/calculator.svg" program-name="Calculator" focus-name="calculator" [in-program]="true" /> -->
      <start-item icon="assets/icons/control-panel.svg" program-name="Control Panel" focus-name="control-panel" [in-program]="true" />
      <start-item icon="assets/icons/help.svg" program-name="Help" focus-name="help" [in-program]="true" />
      <start-item icon="assets/icons/internet-explorer.svg" program-name="Internet Explorer" focus-name="internet-explorer" [in-program]="true" />
      <!-- <start-item icon="assets/icons/msdos.svg" program-name="MSDOS Prompt" focus-name="msdos-prompt" [in-program]="true" /> -->
      <start-item icon="assets/icons/my-computer.svg" program-name="My Computer" focus-name="my-computer" [in-program]="true" />
      <!-- <start-item icon="assets/icons/notepad.svg" program-name="Notepad" focus-name="notepad" [in-program]="true" /> -->
      <!-- <start-item icon="assets/icons/paint.svg" program-name="Paint" focus-name="paint" [in-program]="true" /> -->
      <start-item icon="assets/icons/system-monitor.svg" program-name="System Monitor" focus-name="system-monitor" [in-program]="true" />
      <!-- <start-item icon="assets/icons/taskbar-properties.svg" program-name="Taskbar Properties" focus-name="taskbar-properties" [in-program]="true" /> -->
      <start-item icon="assets/icons/windows-explorer.svg" program-name="Windows Explorer" focus-name="windows-explorer" [in-program]="true" />
    </div>
  </window-frame>
</div>
