<div class="program-menu-wrapper">
  <window-frame window-title="Mobile Program Menu" focus-name="program-menu" window-icon="assets/icons/program-folder.webp" [prevent-resizing]="systemService.isMobile() ? false : true">
    <div class="frame-contents">
      <start-item class="calculator-start-item" icon="assets/icons/calculator.webp" program-name="Calculator" focus-name="calculator" [in-program]="true" />
      <start-item class="control-panel-start-item" icon="assets/icons/control-panel.webp" program-name="Control Panel" focus-name="control-panel" [in-program]="true" />
      <start-item class="help-start-item" icon="assets/icons/help.webp" program-name="Help" focus-name="help" [in-program]="true" />
      <start-item class="internet-explorer-start-item" icon="assets/icons/internet-explorer.webp" program-name="Internet Explorer" focus-name="internet-explorer" [in-program]="true" />
      <!-- <start-item class="msdos-start-item" icon="assets/icons/msdos.webp" program-name="MSDOS Prompt" focus-name="msdos-prompt" [in-program]="true" /> -->
      <start-item class="my-computer-start-item" icon="assets/icons/my-computer.webp" program-name="My Computer" focus-name="my-computer" [in-program]="true" />
      <!-- <start-item class="notepad-start-item" icon="assets/icons/notepad.webp" program-name="Notepad" focus-name="notepad" [in-program]="true" /> -->
      <!-- <start-item class="paint-start-item" icon="assets/icons/paint.webp" program-name="Paint" focus-name="paint" [in-program]="true" /> -->
      <start-item class="system-monitor-start-item" icon="assets/icons/system-monitor.webp" program-name="System Monitor" focus-name="system-monitor" [in-program]="true" />
      <!-- <start-item class="taskbar-properties-start-item" icon="assets/icons/taskbar-properties.webp" program-name="Taskbar Properties" focus-name="taskbar-properties" [in-program]="true" /> -->
      <start-item class="windows-explorer-start-item" icon="assets/icons/windows-explorer.svg" program-name="Windows Explorer" focus-name="windows-explorer" [in-program]="true" />
    </div>
  </window-frame>
</div>
