@mixin align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskbar-base-wrapper {
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .left-side {
    @include align-center();
    height: 100%;
    width: 90px;

    taskbar-start {
      position: absolute;
      left: 8px;
    }
  }

  .middle {
    @include align-center();
    width: calc(100% - 194px);
    height: 100%;
    gap: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    taskbar-program {
      width: 200px;
      min-width: 0;
      flex-shrink: 1;
      min-width: 22px;
      max-width: 200px;
    }
  }

  .right-side {
    @include align-center();
    height: 100%;
    width: 104px;

    taskbar-clock {
      position: absolute;
      right: 8px;
    }
  }
}
