<details class="cert-block-wrapper" [open]="open">
  <summary>{{ title }}</summary>
  <ul class="cert-dates">
    <li>
      <span class="bold">Issued: </span> <time [dateTime]="issueYear + '-' + issueMonth">{{ issueEpoch| date:'MMMM yyyy' }}</time>
    </li>
    <li>
      <span class="bold">Expires: </span>

      @if (expiryDate) {
        <time [dateTime]="expiryYear + '-' + expiryMonth">{{ expiryEpoch | date:'MMMM yyyy' }}</time>
      } @else {
        N/A
      }
    </li>
  </ul>
  <ng-content/>
</details>
