@use "../start.scss" as *;
@use "../../../colors.scss" as *;

.container {
  position: relative;
  height: 100%;

  .start-dropdown-wrapper {
    @include start-menu-object();

    &.hovered {
      background-color: $win-95-highlight;
    }

    p {
      color: black;

      &.hovered {
        color: white;
      }
    }

    .arrow {
      margin-left: auto;
      margin-right: 12px;
      width: 8px;
      display: none;

      &.visible {
        display: block;
      }
    }
  }

  .menu-space {
    position: absolute;
    left: 100%;
    display: none;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }

    &.visible {
      display: block;
    }
  }
}
