@use "../../../styles.scss" as *;

.start-dropdown-wrapper {
  @include start-menu-object();

  .arrow {
    margin-left: auto;
    margin-right: 12px;
    width: 8px;
    // TODO SVG needs to be filled with white on hover
  }
}
