<div class="start-dropdown-wrapper" [class.hovered]="isHovered" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
  <img src="{{ src }}" alt="{{ text }}" />
  <p [class.hovered]="isHovered">{{ text }}</p>
  <img src="assets/icons/submenu-arrow.svg" alt="arrow" class="arrow" [class.visible]="!isHovered" />
  <img src="assets/icons/submenu-arrow-white.svg" alt="white arrow" class="arrow" [class.visible]="isHovered" />
</div>
<div class="menu-space" [class.visible]="isHovered" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
  <ng-content></ng-content>
</div>
