<div class="paint-wrapper">
  <window-frame #windowFrame window-title="Paint" focus-name="paint" window-icon="assets/icons/paint.webp" [percent-width]="80" [percent-height]="90">
    <div class="frame-contents">
      <div class="padding">
        <div class="toolbar" (click)="menuFocus = ''">
          <toolbar-button text="File" [class.active]="menuFocus === 'file'" (click)="menuFocus = toolbarButtonHelper($event, 'file')" (mouseover)="toolbarHoverHelper('file')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'file'" (click)="store.focus.set('paint')">
              <!-- TODO add functionality -->
              <toolbar-item left-text="New" (click)="setNewCanvas()" />
              <toolbar-item left-text="Save" (click)="saveDrawing()" />

              <toolbar-divider />

              <toolbar-item left-text="Print" (click)="printDrawing()" />

              <toolbar-divider />

              <toolbar-item left-text="Send" (click)="sendDrawing()" />

              <toolbar-divider />

              <toolbar-item left-text="Exit" (click)="exitHandler()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="Edit" [class.active]="menuFocus === 'edit'" (click)="menuFocus = toolbarButtonHelper($event, 'edit')" (mouseover)="toolbarHoverHelper('edit')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'edit'" (click)="store.focus.set('paint')">
              <!-- TODO add functionality -->
              <toolbar-item left-text="Undo" (click)="undoHandler()" />
              <toolbar-item left-text="Repeat" (click)="repeatHandler()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="View" [class.active]="menuFocus === 'view'" (click)="menuFocus = toolbarButtonHelper($event, 'view')" (mouseover)="toolbarHoverHelper('view')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'view'" (click)="store.focus.set('paint')">
              <!-- TODO add functionality -->
              <toolbar-item left-text="Zoom" (click)="zoomHandler()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="Image" [class.active]="menuFocus === 'image'" (click)="menuFocus = toolbarButtonHelper($event, 'image')" (mouseover)="toolbarHoverHelper('image')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'image'" (click)="store.focus.set('paint')">
              <!-- TODO add functionality -->
              <toolbar-item left-text="Clear Image" (click)="setNewCanvas()" />
            </toolbar-menu>
          </toolbar-button>

          <!-- <toolbar-button text="Options" [class.active]="menuFocus === 'options'" (click)="menuFocus = toolbarButtonHelper($event, 'options')" (mouseover)="toolbarHoverHelper('options')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'options'" (click)="store.focus.set('paint')">

            </toolbar-menu>
          </toolbar-button> -->

          <!-- <toolbar-button text="Help" [class.active]="menuFocus === 'help'" (click)="menuFocus = toolbarButtonHelper($event, 'help')" (mouseover)="toolbarHoverHelper('help')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'help'" (click)="store.focus.set('paint')">

            </toolbar-menu>
          </toolbar-button> -->
        </div>

        <div class="paint" (click)="menuFocus = ''">
          <div class="top">
            <div class="tools">
              <!-- Tool buttons go here -->
            </div>

            <div class="canvas-container">
              <!-- <canvas #canvas width="1024" height="768"></canvas> -->
            </div>
          </div>

          <div class="bottom">
            <div class="selected-colors">
              <paint-color-option class="secondary" [color]="paintService.secondaryColor()" DisableRightClick />
              <paint-color-option class="primary" [color]="paintService.primaryColor()" DisableRightClick />
            </div>

            <div class="color-rows">
              <div class="row top-row">
                @for (color of paintService.topColorRow; track $index) {
                  <paint-color-option [color]="color" (click)="paintService.primaryColor.set(color)" (auxclick)="paintService.secondaryColor.set(color)" DisableRightClick />
                }
              </div>

              <div class="row bottom-row">
                @for (color of paintService.bottomColorRow; track $index) {
                  <paint-color-option [color]="color" (click)="paintService.primaryColor.set(color)" (auxclick)="paintService.secondaryColor.set(color)" DisableRightClick />
                }
              </div>
            </div>
          </div>
        </div>

        <div class="status-bar" (click)="menuFocus = ''">
          <div class="description">
            <p>{{ currDescription }}</p>
          </div>

          <div class="coordinates">
            <img src="assets/icons/paint/coord-icon.svg" alt="coordinates icon" />
            <p>{{ coord.x }},{{ coord.y }}</p>
          </div>
        </div>
      </div>
    </div>
  </window-frame>
</div>
