@use "../programs.scss" as *;
@use "../../../styles.scss" as *;
@use "../toolbar.scss" as *;
@use "../../../colors.scss" as *;

$black-border: 2px solid black;
$white-border: 2px solid white;

.paint-wrapper {
  @include program-common();

  window-frame {
    width: 80%;
    height: 90%;
    @include mobile-viewport();

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      .padding {
        padding: 0px 2px;
        height: 100%;

        $bar-heights: 28px;

        .toolbar {
          @include toolbar-common($bar-heights);
          border-bottom: 2px solid $win-95-divider-top;
        }

        .paint {
          height: calc(100% - (2 * $bar-heights) - 6px);
          border-top: 2px solid $win-95-divider-bottom;
          border-bottom: 2px solid $win-95-divider-top;

          $bottom-height: 52px;

          .top {
            display: flex;
            flex-direction: row;
            height: calc(100% - $bottom-height - 6px);
            border-bottom: 2px solid $win-95-divider-top;
            justify-content: end;

            // Set based on width of canvas, tool area should expand when canvas area reaches its max-width (1024)
            $tool-width: 20px;

            .tools {
              width: $tool-width;
              background-color: red;
              width: 72px;
              display: flex;
              flex-direction: column;
              align-items: end;

              $item-width: 90%;

              .tool-buttons {
                width: $item-width;
                background-color: blue;
                height: 50%;
              }

              .options-wrapper {
                width: $item-width;
                background-color: greenyellow;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: center;

                .options {
                  width: 95%;
                  background-color: purple;
                  height: 95%;
                }
              }
            }

            .canvas-container {
              max-width: 1024px;
              width: calc(100% - $tool-width - 6px);
              background-color: orange;
              border-top: $black-border;
              border-right: $white-border;
              border-bottom: $white-border;
              border-left: $black-border;
              overflow: scroll;

              canvas {
                background-color: white;
                border: 4px solid gray;
              }
            }
          }

          .bottom {
            $color-square-gap: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: $color-square-gap;
            height: $bottom-height;
            border-top: 2px solid $win-95-divider-bottom;

            @mixin set-color-box() {
              $dimension: 16px;

              display: block;
              width: $dimension;
              height: $dimension;
            }

            .selected-colors {
              // TODO refine before publish, fine for now.
              background-color: #E0E0E0;

              border-top: $black-border;
              border-right: $white-border;
              border-bottom: $white-border;
              border-left: $black-border;

              width: 38px;
              height: 38px;

              paint-color-option {
                @include set-color-box();

                &.secondary {
                  position: relative;
                  top: 14px;
                  left: 14px;
                }

                &.primary {
                  position: relative;
                  bottom: 10px;
                  left: 6px;
                }
              }
            }

            .color-rows {
              display: flex;
              flex-direction: column;
              gap: $color-square-gap;
              height: 38px;
            }

            .row {
              display: flex;
              flex-direction: row;
              gap: $color-square-gap;

              paint-color-option {
                @include set-color-box();
              }
            }
          }
        }

        .status-bar {
          height: $bar-heights;
          background-color: $win-95-grey;
          display: flex;
          flex-direction: row;
          font-size: 12px;
          border-top: 2px solid $win-95-divider-bottom;

          .description {
            align-content: center;
          }

          .coordinates {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2px;

            img {
              @include icon-common();
            }
          }
        }
      }
    }
  }
}
