@use "../programs.scss" as *;
@use "../../../styles.scss" as *;
@use "../toolbar.scss" as *;
@use "../../../colors.scss" as *;

.paint-wrapper {
  @include program-common();

  window-frame {
    width: 80%;
    height: 90%;
    @include mobile-viewport();

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      .padding {
        padding: 0px 2px;
        height: 100%;

        $bar-heights: 28px;

        .toolbar {
          @include toolbar-common($bar-heights);
          border-bottom: 2px solid $win-95-divider-top;
        }

        .paint {
          height: calc(100% - (2 * $bar-heights) - 2px);
          border-top: 2px solid $win-95-divider-bottom;

          .top {
            display: flex;
            flex-direction: row;

            $tool-width: 20px; // TODO set

            .tools {
              width: $tool-width;
            }

            .canvas-container {
              width: calc(100% - $tool-width);

              canvas {
                background-color: white;
              }
            }
          }
        }

        .status-bar {
          height: $bar-heights;
        }
      }
    }
  }
}
