@use "../sites.scss" as *;
@use "../site-images.scss" as *;

.hax-chat-agent-site-wrapper {
  @include site-common();

  details {
    $spacing: 16px;

    &:not(:last-child) {
      padding-bottom: $spacing;
      border-bottom: solid black 1px;
    }

    margin-bottom: $spacing;

    summary {
      cursor: pointer;
      font-weight: bold;
    }
  }

  figure {
    display: flex;
    flex-direction: row;
    margin: 4px 4px;

    figcaption {
      width: 40%;
    }

    .img-container {
      width: 60%;
      align-content: center;
      // display: flex;
      // justify-content: center;

      img {
        display: block;
        height: auto;

        &[src="assets/images/chat-agent.webp"] {
          @include set-img-size(50%);
        }

        &[src="assets/images/mobx.webp"] {
          @include set-img-size(30%);
        }

        &[src="assets/images/chat-button.webp"] {
          width: 25%;
          @include set-img-size(25%);
          @media (max-aspect-ratio: 1/1) {
            width: 65%;
          }
        }

        &[src="assets/images/chat-control-bar.webp"] {
          @include set-img-size(90%);
        }

        &[src="assets/images/chat-developer-panel.webp"] {
          @include set-img-size(90%);
        }

        &[src="assets/images/chat-input.webp"] {
          @include set-img-size(90%);
        }

        &[src="assets/images/chat-interface.webp"] {
          @include set-img-size(60%);
        }

        &[src="assets/images/chat-message.webp"] {
          @include set-img-size(60%);
        }

        &[src="assets/images/chat-suggestion.webp"] {
          @include set-img-size(90%);
        }

        &[src="assets/images/chat-agent-full-screen.webp"] {
          @include set-img-size(35%);
        }

        &[src="assets/images/chat-log.webp"] {
          @include set-img-size(90%);
        }
      }
    }

    &.mobile {
      flex-direction: column;
      align-items: center;
      gap: 12px;

      figcaption,
      p {
        width: 100%;
      }

      .img-container {
        width: 100%;

        img {
          &[src="assets/images/chat-agent.webp"] {
            @include set-img-size(60%);
          }

          &[src="assets/images/mobx.webp"] {
            @include set-img-size(40%);
          }

          &[src="assets/images/chat-control-bar.webp"] {
            @include set-img-size(90%);
          }

          &[src="assets/images/chat-developer-panel.webp"] {
            @include set-img-size(90%);
          }

          &[src="assets/images/chat-input.webp"] {
            @include set-img-size(90%);
          }

          &[src="assets/images/chat-interface.webp"] {
            @include set-img-size(60%);
          }

          &[src="assets/images/chat-message.webp"] {
            @include set-img-size(60%);
          }

          &[src="assets/images/chat-suggestion.webp"] {
            @include set-img-size(90%);
          }

          &[src="assets/images/chat-agent-full-screen.webp"] {
            @include set-img-size(35%);
          }

          &[src="assets/images/chat-log.webp"] {
            @include set-img-size(90%);
          }
        }
      }
    }
  }

  &.dark-mode {
    details {
      &:not(:last-child) {
        border-color: white;
      }
    }
  }
}
