<div class="internet-explorer-wrapper">
  <window-frame #windowFrame window-title="Internet Explorer" focus-name="internet-explorer" window-icon="assets/icons/html-file.svg" [percent-width]="70" [percent-height]="90">
    <div class="frame-contents">
      <div class="toolbar" (click)="menuFocus = ''">
        <div class="toolbar-buttons">
          <div class="bar-container">
            <div class="bar"></div>
          </div>

          <!-- TODO clicking into toolbar area isn't setting focus??? -->
          <toolbar-button text="File" [class.active]="menuFocus === 'file'" (click)="menuFocus = toolbarButtonHelper($event, 'file')" (mouseover)="toolbarHoverHelper('file')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'file'" (click)="store.focus.set('internet-explorer')">
              <toolbar-item left-text="Print" (click)="printButtonHelper()" [right-text]="getPrintCommand()" />

              <toolbar-divider />

              <toolbar-dropout text="Send">
                <toolbar-menu>
                  <toolbar-item left-text="Copy Page URL" (click)="copyURLToClipboard()" />

                  <toolbar-divider></toolbar-divider>

                  <toolbar-item left-text="Page by Email..." (click)="mailButtonHelper()" />
                  @if (systemService.isMobile()) {
                    <toolbar-item left-text="Share Menu" (click)="openShareMenu()" />
                  }
                </toolbar-menu>
              </toolbar-dropout>

              <toolbar-divider />

              <toolbar-item left-text="Close" (click)="closeHandler()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="View" [class.active]="menuFocus === 'view'" (click)="menuFocus = toolbarButtonHelper($event, 'view')" (mouseover)="toolbarHoverHelper('view')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'view'" (click)="store.focus.set('internet-explorer')">
              <toolbar-dropout text="Explorer Bar">
                <toolbar-menu>
                  <toolbar-item left-text="Search" (click)="openCloseSidebar(0, true)" [disabled]="sidebarContent === 0 && IEService.sidebar()" />
                  <toolbar-item left-text="Favorites" (click)="openCloseSidebar(1, true)" [disabled]="sidebarContent === 1 && IEService.sidebar()" />
                  <toolbar-item left-text="History" (click)="openCloseSidebar(2, true)" [disabled]="sidebarContent === 2 && IEService.sidebar()" />
                </toolbar-menu>
              </toolbar-dropout>

              <toolbar-divider />

              <toolbar-dropout text="Go To">
                <toolbar-menu>
                  <toolbar-item left-text="Home Page" (click)="routerNavigator('about-me')" />
                  <toolbar-divider />
                  @for (site of IEService.possibleSites; track $index) {
                    <toolbar-item [left-text]="formatButtonString(site.domain)" (click)="routerNavigator(site.domain)" />
                  }
                </toolbar-menu>
              </toolbar-dropout>

              <toolbar-item left-text="Stop" (click)="routerNavigator('error')" />

              <toolbar-item left-text="Refresh" (click)="refreshButtonHelper()" />

              <toolbar-divider />

              <toolbar-item left-text="Dark Mode" (click)="setDarkMode()" />
              <toolbar-item left-text="Full Screen" [disabled]="windowFrame.isFullSize" (click)="fullscreenHandler()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="Favorites" [class.active]="menuFocus === 'favorites'" (click)="menuFocus = toolbarButtonHelper($event, 'favorites')" (mouseover)="toolbarHoverHelper('favorites')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'favorites'" (click)="store.focus.set('internet-explorer')">
              <toolbar-dropout text="Personal Projects">
                <toolbar-menu>
                  <!-- Website -->
                  <toolbar-item left-text="Retro Desktop Portfolio" (click)="routerNavigator('retro-desktop-portfolio')" />

                  <toolbar-divider />

                  <!-- Additional Site Programs -->
                  <toolbar-item left-text="Calculator" (click)="routerNavigator('calculator')" />

                  <toolbar-divider />

                  <!-- Independent Projects -->
                  <toolbar-item left-text="Py-Weather" (click)="routerNavigator('py-weather')" />
                  <toolbar-item left-text="QR Maker" (click)="routerNavigator('qr-maker')" />
                </toolbar-menu>
              </toolbar-dropout>

              <toolbar-divider />

              <toolbar-dropout text="Prof. Experience">
                <toolbar-menu>
                  <toolbar-item left-text="About Me" (click)="routerNavigator('about-me')" />
                  <toolbar-divider />
                  <toolbar-item left-text="HAX Chat Agent" (click)="routerNavigator('hax-chat-agent')" />
                </toolbar-menu>
              </toolbar-dropout>

              <toolbar-dropout text="Open Source">
                <toolbar-menu>
                  <!-- General Contributions -->
                  <toolbar-item left-text="Open Source Contributions" (click)="routerNavigator('open-source-contributions')" />
                  <toolbar-divider />
                  <!-- Big Contributions -->
                  <toolbar-item left-text="HAX Chat Agent" (click)="routerNavigator('hax-chat-agent')" />
                  <toolbar-item left-text="HAX Audit" (click)="routerNavigator('hax-audit')" />
                  <toolbar-divider />
                  <!-- My Open Source Projects -->
                  <toolbar-item left-text="Calculator Library" (click)="routerNavigator('calculator')" />
                  <toolbar-item left-text="Py-Weather" (click)="routerNavigator('py-weather')" />
                  <toolbar-item left-text="QR Maker" (click)="routerNavigator('qr-maker')" />
                </toolbar-menu>
              </toolbar-dropout>
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="Tools" [class.active]="menuFocus === 'tools'" (click)="menuFocus = toolbarButtonHelper($event, 'tools')" (mouseover)="toolbarHoverHelper('tools')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'tools'" (click)="store.focus.set('internet-explorer')">
              <toolbar-dropout text="Mail and News">
                <toolbar-menu>
                  <!-- TODO figure out something maybe for Read Mail -->
                  <toolbar-item left-text="New Message..." (click)="newMessageHelper()" />
                  <toolbar-item left-text="Send a Link..." (click)="copyURLToClipboard()" />
                  <toolbar-item left-text="Send Page..." (click)="mailButtonHelper()" />
                  <!-- TODO Maybe a Show related links that auto populates search with a specific term per site -->
                  <!-- Above would require some additions to search feature (such as tag words per site, added to DNS) -->
                </toolbar-menu>
              </toolbar-dropout>
            </toolbar-menu>
          </toolbar-button>
        </div>
        <img src="assets/ie-top-right.webp" alt="Windows 95 Icon" />
      </div>

      <div class="standard-buttons" (click)="menuFocus = ''">
        <div class="bar-container">
          <div class="bar"></div>
        </div>
        <div class="explorer-buttons buttons">
          <standard-button button-name="stop" button-hint="Display error page (refresh to undo)." (click)="routerNavigator('error')" />
          <standard-button button-name="refresh" button-hint="Scroll to top of current page." (click)="refreshButtonHelper()" />
          <standard-button button-name="home" button-hint='Navigate to "About Me" Page,' (click)="routerNavigator('about-me')" />
        </div>
        <div class="divider-container">
          <div class="divider"></div>
        </div>
        <div class="go-to-buttons buttons">
          <standard-button button-name="search" button-hint="Search available sites." (click)="openCloseSidebar(0)" />
          <standard-button button-name="favorites" button-hint="Display list of available sites." (click)="openCloseSidebar(1)" />
          <standard-button button-name="history" button-hint="Display list of previously viewed sites." (click)="openCloseSidebar(2)" />
        </div>
        <div class="divider-container">
          <div class="divider"></div>
        </div>
        <div class="share-buttons buttons">
          <standard-button button-name="copy" button-hint="Copy URL to current site to clipboard." (click)="copyURLToClipboard()" />
          <standard-button button-name="mail" button-hint="Send URL to current site via Email client." (click)="mailButtonHelper()" />
          <standard-button button-name="print" button-hint="Print current page." (click)="printButtonHelper()" />
        </div>
      </div>

      <div class="address-bar" (click)="menuFocus = ''">
        <div class="bar-container">
          <div class="bar"></div>
        </div>
        <p>Address</p>
        <div class="search-input">
          <img src="assets/icons/html-file.svg" alt="html file icon" />
          <input #addressBarInput type="search" list="addressBar" name="address-bar" id="address-bar" (keypress)="inputKeyInputHelper($event)" data-1p-ignore data-lpignore="true" />
          <datalist id="addressBar">
            @for (site of IEService.possibleSites; track $index) {
              <option value="http://{{ site.domain }}.{{ site.tld }}"></option>
            }
          </datalist>
        </div>
        <button (mouseover)="goButtonHovered = true" (mouseleave)="goButtonHovered = false" (click)="goButtonHelper()">
          <img [src]="goButtonHovered ? 'assets/icons/internet-explorer/go-button.svg' : 'assets/icons/internet-explorer/gray-go-button.svg'" [alt]="goButtonHovered ? 'go button' : 'gray go button'" />
          <p>Go</p>
        </button>
      </div>

      <div class="main-content" (click)="menuFocus = ''" [class.sidebar-open]="IEService.sidebar()">
        <div class="sidebar" [class.sidebar-open]="IEService.sidebar()" [class.mobile]="systemService.isMobile()">
          @switch (sidebarContent) {
            @case (0) {
              <div class="search sidebar-content">
                <div class="title-bar">
                  <p>Search</p>
                  <close-sidebar-button />
                </div>

                <div class="content">
                  <div class="input-container">
                    <input #searchBarInput type="text" name="search-box" id="search-box" (keyup)="searchHelper()" />
                  </div>

                  <ul>
                    @for (result of searchResults; track $index) {
                      <li>
                        <ie-route domain="{{ result.domain }}" tld="{{ result.tld }}" [not-in-site]="true" />
                      </li>
                    }
                  </ul>
                </div>
              </div>
            }

            @case (1) {
              <div class="favorites sidebar-content">
                <div class="title-bar">
                  <p>Favorites</p>
                  <close-sidebar-button />
                </div>

                <div class="content">
                  <ul>
                    @for (site of IEService.possibleSites; track $index) {
                      <li>
                        <img src="assets/icons/html-file.svg" alt="html file icon" />
                        <ie-route domain="{{ site.domain }}" tld="{{ site.tld }}" [not-in-site]="true" (click)="scrollToTop()" />
                      </li>
                    }
                  </ul>
                </div>
              </div>
            }

            @case (2) {
              <div class="history sidebar-content">
                <div class="title-bar">
                  <p>History</p>
                  <close-sidebar-button />
                </div>

                <div class="content">
                  <ul>
                    @for (site of IEService.browserHistory(); track $index) {
                      <li>
                        <ie-route domain="{{ site.domain }}" tld="{{ site.tld }}" [not-in-site]="true" />
                      </li>
                    }
                  </ul>
                </div>
              </div>
            }
          }
        </div>

        <div #viewport class="viewport" [class.dark-mode]="IEService.darkMode()">
          @switch (IEService.displayedSite()) {
            @case ('about-me') {
              <about-me />
            }
            @case ('calculator') {
              <calculator-site />
            }
            @case ('hax-audit') {
              <hax-audit />
            }
            @case ('hax-chat-agent') {
              <hax-chat-agent />
            }
            @case ('open-source-contributions') {
              <open-source-contributions />
            }
            @case ('py-weather') {
              <py-weather />
            }
            @case ('qr-maker') {
              <qr-maker />
            }
            @case ('retro-desktop-portfolio') {
              <retro-desktop-portfolio />
            }
            @case ('') {
              <secret-site />
            }
            @default {
              <error-site />
            }
          }
        </div>
      </div>

      <div class="status-bar" (click)="menuFocus = ''">
        <div class="status">
          <img [src]="IEService.statusBarIcon()" alt="html file icon" />
          <p class="status-bar-content">
            {{ IEService.statusBarContent() }}
          </p>
        </div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="connection">
          @if (['hax-audit', 'hax-chat-agent', 'open-source-contributions'].includes(IEService.displayedSite())) {
            <img src="assets/icons/internet-explorer/internet-globe.svg" alt="internet icon" />
            <p>Internet</p>
          } @else if (!dnsContainsSite(IEService.displayedSite())) {
            <img src="assets/icons/internet-explorer/connection-issue.svg" alt="error icon" />
            <p>Connection Error</p>
          } @else {
            <img src="assets/icons/network-neighborhood.svg" alt="network neighborhood icon" />
            <p>Local intranet</p>
          }
        </div>
      </div>
    </div>
  </window-frame>
</div>
