.toolbar-item-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;

  &.disabled {
    p {
      // disabled color here
    }
  }

  &:hover {
    background-color: red;
  }
}
