<!-- prettier-ignore -->
<article class="calculator-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <h1>Calculator Library / Program</h1>
    <div class="badges">
      <img src="assets/badges/c.svg" alt="c language badge">
      <img src="assets/badges/wasm.svg" alt="web assembly badge">
      <img src="assets/badges/libreoffice-math.svg" alt="libreoffice math badge">
      <img src="assets/badges/angular.svg" alt="angular badge" />
      <img src="assets/badges/typescript.svg" alt="typescript badge" />
      <img src="assets/badges/html5.svg" alt="html 5 badge" />
      <img src="assets/badges/scss.svg" alt="scss badge" />
    </div>
    <nav>
      <a-ie href="https://github.com/zdodson21/mathfun-lib">
        Library Source Code
      </a-ie>

      <a-ie href="https://github.com/zdodson21/retro-desktop-portfolio/tree/main/src/components/programs/calculator">
        Angular Component Source Code
      </a-ie>

      <a [href]="`${systemService.webAddress}/programs?calculator`">
        Open Calculator Program (will close all other programs)
      </a>
    </nav>
  </header>
  
  <main>
    <section class="description">
      <h2>Description</h2>

      <p>
        C mathematics library with a WebAssembly compilation target,
        but can also be used as a C library with the provided header file.
        This is the library used for the Calculator program on this web application (accessible from start menu /
        clicking the "Open Calculator" link above).
      </p>
    </section>

    <hr>

    <section class="why-wasm">
      <h2>Why C and WebAssembly?</h2>

      <p>
        This project was originally intended for use just in my personal website as a project to improve my math skills.
        Because the calculator logic itself does not need a front-end for input,
        I decided to use C with a WebAssembly compilation target instead of Angular / TypeScript to keep the front-end
        logic separate from the back-end, while also learning about the C programming language and WebAssembly.
        When the library was capable of performing all calculations required for the "Standard" calculator mode,
        I decided to open source the project and move it into its own repository so others could use it.
      </p>

      <p>
        <b>Note: </b> the library is not in a complete state. I wish to complete it soon to improve precision of some functions as
        well as adding support for various scientific calculator functions and modes. However, this project is not a priority to me
        over other projects. I will likely try to complete the library during 2026.
      </p>
    </section>

    <hr>

    <section class="formulas">
      <h2>Formulas used</h2>

      <h3>Exponent</h3>
      <section class="formula-container">
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <msup>
            <mi>a</mi>
            <mi>b</mi>
          </msup>

          <mo>=</mo>

          <msup>
            <mi>e</mi>
            <mrow>
              <mi>b</mi>
              <mo>&#x22C5;</mo>
              <mi>ln</mi>
              <mo>(</mo>
              <mi>a</mi>
              <mo>)</mo>
            </mrow>
          </msup>
        </math>
      </section>

      <h3>Logarithm</h3>
      <section class="formula-container">
         <math xmlns="http://www.w3.org/1998/Math/MathML">
          <msub>
            <mi>log</mi>
            <mi>b</mi>
          </msub>
          <mo>(</mo>
          <mi>x</mi>
          <mo>)</mo>

          <mo>=</mo>

          <mfrac>
            <mrow>
              <mo>(</mo>
              <mi>ln</mi>
              <mo>(</mo>
              <mi>x</mi>
              <mo>)</mo>
              <mo>)</mo>
            </mrow>
            <mrow>
              <mo>(</mo>
              <mi>ln</mi>
              <mo>(</mo>
              <mi>b</mi>
              <mo>)</mo>
              <mo>)</mo>
            </mrow>
          </mfrac>
         </math>
        </section>

      <h3>
        <a-ie href="https://en.wikipedia.org/wiki/Natural_logarithm#High_precision">Natural Logarithm</a-ie>
      </h3>
      <section class="formula-container">
        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>ln</mi>
          <mo>(</mo>
            <mn>2</mn>
          <mo>)</mo>

          <mo>=</mo>

          <mn>0.693147180</mn>
        </math>

        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>m</mi>
          <mo>=</mo>
          <mn>8</mn>
        </math>

        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>s</mi>
          <mo>=</mo>
          <mi>x</mi>
          <msup>
            <mn>2</mn>
            <mi>m</mi>
          </msup>
          <mo>></mo>
          <msup>
            <mn>2</mn>
            <mfrac>
              <mi>p</mi>
              <mn>2</mn>
            </mfrac>
          </msup>
        </math>

        <math xmlns="http://www.w3.org/1998/Math/MathML">
          <mi>ln</mi>
          <mo>(</mo>
          <mi>x</mi>
          <mo>)</mo>

          <mo>&#x2248;</mo>

          <mfrac>
            <mi>&#960;</mi>

            <mrow>
              <mn>2</mn>
              <mi>M</mi>
              <mo>(</mo>
                <mn>1</mn>
                <mo>,</mo>
                <mo>(</mo>
                  <mfrac>
                    <mn>4</mn>
                    <mi>s</mi>
                  </mfrac>
                <mo>)</mo>
              <mo>)</mo>
            </mrow>
          </mfrac>

          <mo>-</mo>

          <mi>m</mi>
          <mi>ln</mi>
          <mo>(</mo>
            <mn>2</mn>
          <mo>)</mo>
        </math>

        <p>
          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi>M</mi>
          </math>

          denotes
          <a-ie href="https://en.wikipedia.org/wiki/Arithmetic%E2%80%93geometric_mean#Example">
            arithmetic-geometric mean:
          </a-ie>
        </p>

        <section class="agmean">
          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mo>(</mo>
              <msub>
                <mi>a</mi>
                <mn>0</mn>
              </msub>

              <mo>=</mo>

              <mn>1</mn>

              <mo>,</mo>

              <msub>
                <mi>g</mi>
                <mn>0</mn>
              </msub>

              <mo>=</mo>

              <mfrac>
                <mn>4</mn>
                <mi>s</mi>
              </mfrac>
            <mo>)</mo>
          </math>

          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>a</mi>
              <mn>1</mn>
            </msub>

              <mo>=</mo>

              <mfrac>
                <mn>1</mn>
                <mn>2</mn>
              </mfrac>

              <mo>(</mo>
                <msub>
                  <mi>a</mi>
                  <mn>0</mn>
                </msub>

                <mo>+</mo>

                <msub>
                  <mi>g</mi>
                  <mn>0</mn>
                </msub>
              <mo>)</mo>
          </math>

          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>g</mi>
              <mn>1</mn>
            </msub>

            <mo>=</mo>

            <msqrt>
              <mo>(</mo>
                <msub>
                  <mi>a</mi>
                  <mn>0</mn>
                </msub>

                <mo>*</mo>

                <msub>
                  <mi>g</mi>
                  <mn>0</mn>
                </msub>
              <mo>)</mo>
            </msqrt>
          </math>

          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>a</mi>
              <mn>2</mn>
            </msub>

            <mo>=</mo>

            <mfrac>
              <mn>1</mn>
              <mn>2</mn>
            </mfrac>

            <mo>(</mo>
              <msub>
                <mi>a</mi>
                <mn>1</mn>
              </msub>

              <mo>+</mo>

              <msub>
                <mi>g</mi>
                <mn>1</mn>
              </msub>
            <mo>)</mo>
          </math>

          <math xmlns="http://www.w3.org/1998/Math/MathML">
            <msub>
              <mi>g</mi>
              <mn>2</mn>
            </msub>

            <mo>=</mo>

            <msqrt>
              <mo>(</mo>
                <msub>
                  <mi>a</mi>
                  <mn>1</mn>
                </msub>

                <mo>*</mo>

                <msub>
                  <mi>g</mi>
                  <mn>1</mn>
                </msub>
              <mo>)</mo>
            </msqrt>
          </math>

          <math xmlns="http://www.w3.org/1998/Math/MathML"><mo>.</mo></math>
          <math xmlns="http://www.w3.org/1998/Math/MathML"><mo>.</mo></math>
          <math xmlns="http://www.w3.org/1998/Math/MathML"><mo>.</mo></math>
        </section>

        <p>
          Keep repeating above for more precision (suggest at least 4 - 5 times)
        </p>
      </section>
    </section>

    <hr>

    <section class="binary-download">
      <h2>WASM Binary Download</h2>

      <p>
        The calculator library code can be viewed and downloaded from
        <a-ie href="https://github.com/zdodson21/mathfun-lib">here</a-ie>.
      </p>

      <details class="license">
        <summary>License</summary>
        <p>MIT License</p>

        <p>Copyright (c) 2025 Zachary Dodson</p>

        <p>
          Permission is hereby granted, free of charge, to any person obtaining a copy
          of this software and associated documentation files (the "Software"), to deal
          in the Software without restriction, including without limitation the rights
          to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
          copies of the Software, and to permit persons to whom the Software is
          furnished to do so, subject to the following conditions:
        </p>

        <p>
          The above copyright notice and this permission notice shall be included in all
          copies or substantial portions of the Software.
        </p>

        <p>
          THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
          IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
          AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
          LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
          OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
          SOFTWARE.
        </p>
      </details>
    </section>
  </main>
</article>
