@use "../sites.scss" as *;

.calculator-site-wrapper {
  @include site-common();

  section {
    &.formulas {
      .img-container {
        @include full-img-container(30%);
      }
    }

    &.binary-download {
      details {
        p {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
