@use "../sites.scss" as *;

.calculator-site-wrapper {
  @include site-common();

  section {
    .formula-container, .agmean {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      &.agmean {
        gap: 16px;
        margin-bottom: -16px;
      }
    }

    &.binary-download {
      details {
        p {
          &:not(:last-child) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
