# Directories
.angular
.claude
.cursor
.gemini
.github
.junie
.idea
.vercel
.vscode
.windsurf
coverage
dist
node_modules
out

# Files
.editorconfig
.gitignore
.prettierignore
.prettierrc
.vercelignore
electron.js
README.md
