# Directories
.angular
.claude
.cursor
.gemini
.github
.junie
.idea
.vercel
.vscode
.windsurf
coverage
dist
node_modules
out

# Files
.editorconfig
.gitignore
.prettierignore
.prettierrc
.vercelignore
calculator_test
electron.js
makefile
README.md
*.spec.ts
*.md
