{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "overrides": [
    {
      "files": ["*.html", "*.component.html"],
      "options": {
        "printWidth": 500,
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": false
      }
    },
    {
      "files": ["*.scss", "*.component.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.spec.ts"],
      "options": {
        "bracketSameLine": false,
        "printWidth": 80
      }
    }
  ]
}
