.angular
.claude
.cursor
.gemini
.github
.idea
.junie
.vercel
.vscode
.windsurf
android
coverage
dist
node_modules
out
public/assets
public/fonts
.editorconfig
.env
.gitignore
.prettierignore
.prettierrc
.vercelignore
angular.json
karma.conf.js
package-lock.json
package.json
README.md
robots.txt
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
**/*.c
**/*.h
