@use "../../../../scss/colors.scss" as *;

.container {
  position: relative;
  height: 100%;

  button {
    background-color: $win-95-grey;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 6px;
    padding-right: 6px;
  }

  .menu-space {
    position: absolute;
    left: -2px;
  }
}
