<!-- prettier-ignore -->
<article class="qr-maker-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <h1>QR Maker</h1>
    <div class="badges">
      <img src="assets/badges/flutter.svg" alt="flutter badge">
      <img src="assets/badges/dart.svg" alt="dart badge">
      <img src="assets/badges/android.svg" alt="android badge">
      <img src="assets/badges/linux.svg" alt="linux badge">
      <img src="assets/badges/android-studio.svg" alt="android studio badge">
    </div>
    <nav>
      <a-ie href="https://github.com/zdodson21/qr_maker">
        Project Repository
      </a-ie>
    </nav>
    <p>
      Note: Work in progress. Linux version works but is not feature complete. Android and Windows versions are WIP.
    </p>
  </header>
  <main>
    <section class="description">
      <h2>Description</h2>

      <ul>
        <li>
          Developed a QR code maker application using the Flutter framework and Dart programming language to target various platforms with one codebase.
        </li>
        <li>
          Users can save QR code generating strings to their device, enabling them to quickly generate QR codes from their saved options. One use case is to quickly share multiple hyperlinks to different pages on a website.
        </li>
      </ul>
    </section>
  </main>
</article>
