@use "../../../../colors.scss" as *;

.toolbar-divider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4px;
  width: 100%;
  margin: 3px 0px;

  .divider {
    border-top: 2px solid $win-95-divider-top;
    border-bottom: 2px solid $win-95-divider-bottom;
    width: 100%;
    height: 0px;
  }
}
