@use "../toolbar.scss" as *;

.toolbar-dropout-wrapper {
  @include toolbar-menu-item-common();

  &.hovered {
    background-color: #000074;

    p {
      color: white;
    }
  }

  img {
    display: none;

    &.visible {
      display: block;
    }
  }
}

.menu-space {
  position: absolute;
  display: none;

  &.visible {
    display: block;
  }
}
