<div class="container">
  <!-- TODO add support for an icon (renders conditionally) -->
  <div class="toolbar-dropout-wrapper" [class.hovered]="isHovered === true" (mouseover)="isHovered = true" (mouseleave)="isHovered = false" (click)="touchSupport($event)">
    <p>{{ text }}</p>
    <img [src]="isHovered ? 'assets/icons/submenu-arrow-white.svg' : 'assets/icons/submenu-arrow.svg'" [alt]="isHovered ? 'black arrow' : 'white arrow'" class="arrow" />
  </div>
  <div class="menu-space" [class.visible]="isHovered" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
    <ng-content></ng-content>
  </div>
</div>
