@use "../../../scss/styles.scss";
@use "../programs.scss";
@use "../../ui/control-button.scss";

.control-panel-wrapper {
  @include programs.program-common();

  window-frame {
    width: 30%;
    height: 80%;
    @include programs.mobile-viewport();

    .frame-contents {
      @include styles.text-common();
      @include programs.frame-contents-common();

      .padding {
        padding: 8px;

        button {
          @include control-button.control-button-common();
          width: 140px;
        }

        .reset-site {
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
