@use "../../../styles.scss" as *;

.windows-help-wrapper {
  @include program-common();

  window-frame {
    width: 60%;
    height: 70%;

    .frame-contents {
      @include text-common();
      @include frame-contents-common();
      background-color: #f1f6b7;

      .padding {
        padding: 20px;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;

        .top {
          margin-bottom: 20px;

          h2 {
            @include allow-user-select();
            font-size: 16px;
          }
        }

        .bottom {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;

          .left {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding-right: 12px;
            border-right: 1px solid #909c9b;

            p {
              @include allow-user-select();
              margin-bottom: 12px;
              font-size: 14px;
            }

            .buttons {
              display: flex;
              flex-direction: column;
              gap: 12px;
              cursor: pointer;

              .option {
                // TODO button dimensions should conform to inside contents
                display: flex;
                flex-direction: row;
                align-items: center;

                .square {
                  background-color: #c0c0c0;
                  width: 11px;
                  min-width: 11px;
                  min-height: 11px;
                  height: 11px;
                  margin-right: 4px;
                  border-width: 1px;
                  border-style: inset solid solid inset;
                  border-color: white black black white;

                  &.active {
                    border-color: black white white black;
                  }
                }

                p {
                  @include text-common();
                  text-align: left;
                  text-wrap: wrap;
                  margin-bottom: 0;

                  &.active {
                    font-weight: bolder;
                  }
                }
              }
            }
          }

          .right {
            padding-left: 12px;
            border-left: 1px solid #909c9b;
            width: 75%;

            img {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
