@use "../../../styles.scss" as *;

.windows-help-wrapper {
  @include program-common();

  window-frame {
    width: 50%;
    height: 60%;

    .frame-contents {
      @include text-common();
      @include frame-contents-common();
      background-color: #f1f6b7;
      overflow: scroll;

      .padding {
        padding: 20px;
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .top {
          margin-bottom: 20px;

          h2 {
            @include allow-user-select();
            font-size: 16px;
          }
        }

        .bottom {
          display: flex;
          flex-direction: row;
          flex: 1;
          width: 100%;
          height: auto;
          position: relative;

          .left {
            display: flex;
            flex-direction: column;
            width: 25%;
            padding-right: 12px;
            border-right: 1px solid #909c9b;
            height: 100%;

            p {
              @include allow-user-select();
              margin-bottom: 12px;
              font-size: 14px;
            }

            .buttons {
              display: flex;
              flex-direction: column;
              gap: 12px;
            }
          }

          .right {
            padding-left: 12px;
            border-left: 1px solid #909c9b;
            width: 75%;
            height: 100%;

            img {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
