@use "../../../../scss/colors.scss" as *;
@use "../site-component.scss" as *;

a {
  color: $hyperlink-unvisited;
  text-decoration: underline;
  cursor: pointer;

  &.dark-mode {
    color: $hyperlink-dark-unvisited;

    &:hover {
      color: $hyperlink-dark-visited;
    }

    &:visited {
      color: $hyperlink-dark-visited;
    }
  }

  &.in-site {
    font-family: $hyperlink-font;
  }

  &.visited {
    color: $hyperlink-dark-visited;
  }

  &.not-in-site {
    color: $hyperlink-unvisited;

    &:hover {
      color: $hyperlink-visited;
    }
  }

  &:hover {
    color: $hyperlink-visited;
  }
}
