@use "../../../../scss/color.scss";
@use "../site-component.scss";

a {
  color: color.$hyperlink-unvisited;
  text-decoration: underline;
  cursor: pointer;

  &.dark-mode {
    color: color.$hyperlink-dark-unvisited;

    &:hover {
      color: color.$hyperlink-dark-visited;
    }

    &:visited {
      color: color.$hyperlink-dark-visited;
    }
  }

  &.in-site {
    font-family: site-component.$hyperlink-font;
  }

  &.visited {
    color: color.$hyperlink-dark-visited;
  }

  &.not-in-site {
    color: color.$hyperlink-unvisited;

    &:hover {
      color: color.$hyperlink-visited;
    }
  }

  &:hover {
    color: color.$hyperlink-visited;
  }
}
