<!-- prettier-ignore -->
<article class="about-me-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <h1>About Me</h1>
  </header>
  <main>
    <section class="self-description">
      <figure>
        <img src="assets/images/zach-suit.png" alt="Zach Dodson">
        <figcaption>
          Hello! My name is Zach Dodson. I am a software developer who specializes in front-end programming.
        </figcaption>
      </figure>
      <nav>
        <a-ie href="https://github.com/zdodson21">GitHub</a-ie>
        <a-ie href="https://www.linkedin.com/in/zach-dodson-psu/">LinkedIn</a-ie>
      </nav>
    </section>

    <section class="professional-experience">
      <h2>Professional Experience</h2>

      <section class="learning-assistant">
        <h3>Web Development Learning Assistant (Penn State College of Information Science & Technology)</h3>
        <p>
          University Park, PA (<time datetime="2024-08">August 2024</time> - <time datetime="2024-12">December 2024</time>)
        </p>
        <ul>
          <li>
            Worked on a team of 3 learning assistants to support a class of ~60 undergraduate students in a web
            development course <a-ie href="https://ist.psu.edu/learning/courses/ist/256">(IST 256: Programming for the Web)</a-ie>,
            delivering supplemental instruction during and after class time.
          </li>
          <li>
            Hosted weekly office-hour sessions after class, resulting in a noticeable increase in student
            understanding of project material and academic performance.
          </li>
          <li>
            Reviewed and annotated student code submissions, emphasizing self-learning strategies to encourage
            independent problem-solving.
          </li>
        </ul>
      </section>

      <section class="internship">
        <h3>
          <ie-route domain="hax-chat-agent" tld="os">
            Front-End Web Developer (Intern @ HAXTheWeb / Penn State College of Arts & Architecture)
          </ie-route>
        </h3>
        <p>
          University Park, PA (<time datetime="2024-05">May 2024</time> - <time datetime="2024-08">August 2024</time>)
        </p>
        <ul>
          <li>
            Designed and launched an AI-driven chat interface for HAXTheWeb, an open source content management system,
            enabling real-time conversation for site editors and visitors.
          </li>
          <li>
            Built reusable web components with the Lit web component library, implementing cross-component state management,
            chat-history logging, developer-mode toggles, responsive scaling, message recall, and displayable message suggestions.
          </li>
          <li>
            Identified and resolved numerous bugs across the HAXTheWeb monorepo. Such bug fixes include
            improvements to overall usability and accessibility, fixing cross browser usability issues,
            and UI/UX inconsistencies.
          </li>
        </ul>
      </section>
    </section>

    <section class="project-experience">
      <h2>Projects</h2>

      <p>
        Descriptions about my major projects can be viewed on their individual pages,
        accessible by clicking their name in the following list:
      </p>
      <ul>
        <li>
          <ie-route domain="retro-desktop-portfolio" tld="net">Retro Desktop Portfolio (this web application)</ie-route>
        </li>
        <li>
          <ie-route domain="calculator" tld="net">Calculator / WebAssembly Math Library</ie-route>
        </li>
        <li>
          <ie-route domain="py-weather" tld="net">Py-Weather</ie-route>
        </li>
        <li>
          <ie-route domain="hax-audit" tld="os">HAXTheWeb Audit CLI Tool (Open Source Contribution)</ie-route>
        </li>
        <li>
          <ie-route domain="hax-chat-agent" tld="os">HAXTheWeb Chat Agent (Internship)</ie-route>
        </li>
        <li>
          <ie-route domain="open-source-contributions" tld="os">Open Source Contributions</ie-route>
        </li>
      </ul>
    </section>

    <section class="education">
      <h2>Education</h2>

      <section class="bachelor-degree">
        <h3>
          The Pennsylvania State University (University Park, PA)
          (<time datetime="2021-06">June 2021</time> - <time datetime="2024-12">December 2024</time>)
        </h3>
        <ul>
          <li>Major: (B.S.) Enterprise Technology Integration</li>
          <li>Minor: Information Sciences and Technology</li>
          <li>Certification in Business Fundamentals (Finance, Supply Chains, Marketing, Management, International Relations)</li>
        </ul>
        <p>Knowledge / Skills Acquired:</p>
        <ul>
          <li>Project Management</li>
          <li>Full-Stack Software Development</li>
          <li>Psychology of Human & Computer Interaction</li>
          <li>Database Concepts</li>
          <li>Philosophy & Ethics in Technology</li>
          <li>Discrete Mathematics</li>
          <li>Generative AI Implementation & Usage</li>
        </ul>
      </section>
    </section>
  </main>
</article>
