<header>
  <!-- TODO default styles for header, main, and footer might need to be adjusted -->
  <h1>About Me</h1>
</header>
<main>
  <div id="self-description">
    <div class="text">

    </div>
    <div class="img">

    </div>
    <div class="socials-row">
      <!-- GitHub -->
      <!-- LinkedIn -->
    </div>
  </div>

  <div id="professional-experience">
    <div class="learning-assistant">

    </div>
    .
  </div>

  <div id="project-experience">
    <!-- TODO would be nice if clicking on a project header would navigate the internet-explorer route to that page -->
  </div>

  <div id="education">

  </div>
</main>
<footer>

</footer>
