@use "../sites.scss" as *;

.about-me-site-wrapper {
  @include site-common();

  header {
    h1 {
      margin: 0px 0px 12px 0px;
    }
  }

  main {
    .self-description {
      figure {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

        img {
          width: 12rem;
        }

        figcaption {
          text-align: center;
        }
      }
    }

    .project-experience {
      nav {
        display: block;
      }
    }

    .education {
      .bachelor-degree {
        ul {
          li {
            .type {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

}
