@use "../../../styles.scss" as *;
@use "../programs.scss" as *;
@use "../../../colors.scss" as *;

.calculator-wrapper {
  @include program-common();

  window-frame {
    width: 400px;
    height: 400px;
    @include mobile-viewport();

    &.scientific {
      width: 600px;
    }

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      @mixin hover-handling() {
        &:hover,
        &:focus {
          border-style: outset solid solid outset;
          border-color: white #7d7c7c #7d7c7c white;
        }

        &:active {
          border-style: solid inset inset solid;
          border-color: #7d7c7c white white #7d7c7c;
        }
      }

      .padding {
        padding: 0px 4px;
        height: 100%;

        .toolbar {
          height: 28px;
          display: flex;
          flex-direction: row;
          border-bottom: 2px solid $win-95-divider-top;

          toolbar-button {
            display: block;
            height: 22px;
            border: 2px transparent solid;
            border-radius: 0;
            @include hover-handling();

            &.active {
              border-style: solid inset inset solid;
              border-color: #7d7c7c white white #7d7c7c;
            }
          }

          .top-level-menu {
            display: none;

            &.visible {
              display: block;
            }
          }
        }

        .calculator {
          height: calc(100% - 40px);
          border-top: 2px solid $win-95-divider-bottom;
          padding: 4px;

          @mixin non-button-border() {
            border-top: black 2px solid;
            border-right: white 2px solid;
            border-bottom: white 2px solid;
            border-left: black 2px solid;
          }

          .output {
            @include non-button-border();
            background-color: white;
            color: black;
            width: calc(100% - 4px);
            display: block;
            text-align: right;
            align-content: center;
            height: 24px;

            output { // Calc Output
              display: block;
              width: calc(100% - 4px);
              padding: 0px 2px;
              @include allow-user-select();
            }
          }

          @mixin top-row-common() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin top-row-buttons-spacing() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin button-set() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin calc-buttons() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin button-column() {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 8px;
          }

          $button-height: 0px; // TODO needs to be percent value for scaling to phone and other screens
          $button-width: 0px;

          @mixin button() {
            border-top: white 2px solid;
            border-right: black 2px solid;
            border-bottom: black 2px solid;
            border-left: white 2px solid;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .standard-button-set {
            height: calc(100% - 24px);

            $top-row-height: 20%;

            .top-row {
              @include top-row-common();
              height: $top-row-height;

              output { // Memory Output
                // TODO needs borders, width, and height
                @include non-button-border();
                height: 75%; // TODO temp value
                width: 20px;
                display: flex;
              }

              .buttons {
                @include top-row-buttons-spacing();

                calculator-button {
                  @include button();
                }
              }
            }

            .button-set {
              @include button-set();
              $memory-column-width: 18%;
              height: calc(100% - $top-row-height);

              .column {
                @include button-column();
                width: $memory-column-width;
              }

              .memory-buttons-column {
                @include button-column();
                width: 18%;

                calculator-button {
                  height: 22%;
                  @include button();
                }
              }

              .calc-buttons {
                @include calc-buttons();
                width: calc(100% - $memory-column-width - 10%);

                .column {
                  @include button-column();

                  calculator-button {
                    height: 20%;
                    @include button();
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
