@use "../../../scss/styles.scss" as *;
@use "../programs.scss" as *;
@use "../../../scss/colors.scss" as *;
@use "../toolbar.scss" as *;

.calculator-wrapper {
  @include program-common();

  window-frame {
    width: 400px;
    height: 400px;
    @include mobile-viewport();

    &.scientific {
      width: 600px;
    }

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      .padding {
        padding: 0px 4px;
        height: 100%;

        .toolbar {
          @include toolbar-common();
          border-bottom: 2px solid $win-95-divider-top;
        }

        .calculator {
          height: calc(100% - 40px);
          border-top: 2px solid $win-95-divider-bottom;
          padding: 4px;

          @mixin non-button-border() {
            border-top: black 2px solid;
            border-right: white 2px solid;
            border-bottom: white 2px solid;
            border-left: black 2px solid;
          }

          .output {
            @include non-button-border();
            background-color: white;
            color: black;
            width: calc(100% - 4px);
            display: block;
            text-align: right;
            align-content: center;
            height: 24px;

            output {
              // Calc Output
              display: block;
              width: calc(100% - 4px);
              padding: 0px 2px;
              @include allow-user-select();
            }
          }

          @mixin top-row-common() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin top-row-buttons-spacing() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin button-set() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin calc-buttons() {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          @mixin button-column() {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 8px;
          }

          $button-height: 0px; // TODO needs to be percent value for scaling to phone and other screens
          $button-width: 0px;

          @mixin button() {
            border-top: white 2px solid;
            border-right: black 2px solid;
            border-bottom: black 2px solid;
            border-left: white 2px solid;
            display: flex;
            justify-content: center;
            align-items: center;

            &:active {
              border-top: black 2px solid;
              border-right: white 2px solid;
              border-bottom: white 2px solid;
              border-left: black 2px solid;
            }
          }

          .standard-button-set {
            height: calc(100% - 40px);
            // TODO set padding
            padding: 8px 0px;

            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 0.75fr repeat(4, 1fr);
            gap: 8px;
            column-gap: 16px;

            .mem {
              @include non-button-border();
              display: block;
              align-content: center;
              text-align: center;
            }

            .control-row {
              grid-column: span 5 / span 5;
              display: flex;
              justify-content: end;
              flex-direction: row;
              gap: 8px;

              calculator-button {
                @include button();
                width: 20%;
              }
            }

            .calc-buttons {
              grid-column: span 5;
              grid-row: span 4;
              display: grid;
              grid-template-columns: repeat(5, 1fr);
              grid-template-rows: repeat(4, 1fr);
              gap: 8px;
            }

            calculator-button {
              @include button();

              @mixin grid-position($column, $row) {
                grid-column-start: $column;
                grid-row-start: $row;
              }

              &.btn-mc {
                @include grid-position(1, 2);
              }

              &.btn-mr {
                @include grid-position(1, 3);
              }

              &.btn-ms {
                @include grid-position(1, 4);
              }

              &.btn-m-plus {
                @include grid-position(1, 5);
              }

              &.btn-7 {
                @include grid-position(1, 1);
              }

              &.btn-4 {
                @include grid-position(1, 2);
              }

              &.btn-1 {
                @include grid-position(1, 3);
              }

              &.btn-0 {
                @include grid-position(1, 4);
              }

              &.btn-8 {
                @include grid-position(2, 1);
              }

              &.btn-5 {
                @include grid-position(2, 2);
              }

              &.btn-2 {
                @include grid-position(2, 3);
              }

              &.btn-pm {
                @include grid-position(2, 4);
              }

              &.btn-9 {
                @include grid-position(3, 1);
              }

              &.btn-6 {
                @include grid-position(3, 2);
              }

              &.btn-3 {
                @include grid-position(3, 3);
              }

              &.btn-dot {
                @include grid-position(3, 4);
              }

              &.btn-div {
                @include grid-position(4, 1);
              }

              &.btn-mul {
                @include grid-position(4, 2);
              }

              &.btn-sub {
                @include grid-position(4, 3);
              }

              &.btn-add {
                @include grid-position(4, 4);
              }

              &.btn-sqrt {
                @include grid-position(5, 1);
              }

              &.btn-prct {
                @include grid-position(5, 2);
              }

              &.btn-1ovr {
                @include grid-position(5, 3);
              }

              &.btn-eql {
                @include grid-position(5, 4);
              }
            }
          }
        }
      }
    }
  }
}
