@use "../../../styles.scss" as *;
@use "../programs.scss" as *;

.calculator-wrapper {
  @include program-common();

  window-frame {
    width: 350px;
    height: 350px;
    @include mobile-viewport();

    &.scientific {
      width: 600px;
    }

    .frame-contents {
      @include text-common();
      @include frame-contents-common();
    }
  }
}
