<div class="calculator-wrapper">
  <window-frame [class.scientific]="isScientific" window-title="Calculator" focus-name="calculator" window-icon="assets/icons/calculator.svg" [prevent-resizing]="systemService.isMobile() ? false : true">
    <div class="frame-contents">
      <div class="padding">
        <div class="toolbar" (click)="menuFocus = ''">
          <toolbar-button text="Edit" [class.active]="menuFocus === 'edit'" (click)="menuFocus = toolbarButtonHelper($event, 'edit')" (mouseover)="toolbarHoverHelper('edit')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'edit'" (click)="store.focus.set('calculator')">
              <toolbar-item left-text="Copy" (click)="copyOutput()" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="View" [class.active]="menuFocus === 'view'" (click)="menuFocus = toolbarButtonHelper($event, 'view')" (mouseover)="toolbarHoverHelper('view')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'view'" (click)="store.focus.set('calculator')">
              <toolbar-item left-text="Scientific" [disabled]="true" />
              <toolbar-item left-text="Standard" />
            </toolbar-menu>
          </toolbar-button>

          <toolbar-button text="Help" [class.active]="menuFocus === 'help'" (click)="menuFocus = toolbarButtonHelper($event, 'help')" (mouseover)="toolbarHoverHelper('help')">
            <toolbar-menu class="top-level-menu" [class.visible]="menuFocus === 'help'" (click)="store.focus.set('calculator')">
              <toolbar-item left-text="(Dev) Test WASM" (click)="callWasmFunctions()" />
            </toolbar-menu>
          </toolbar-button>
        </div>

        <div class="calculator" (click)="menuFocus = ''">
          <div class="output">
            <output>{{ currentDisplay }}</output>
          </div>

          @if (isScientific) {
            <div class="scientific-button-set">
              <!-- TODO build out, not all will be functional yet, only accessible by manually setting route -->
            </div>
          } @else {
            <div class="standard-button-set">
              <div class="mem">
                <p>
                  @if (typeof memory === 'number') {
                    M
                  }
                </p>
              </div>

              <div class="control-row">
                <calculator-button btn-label="Back" color="dark-red" (click)="calculatorButtonHelper('back')" />
                <calculator-button btn-label="CE" color="dark-red" (click)="calculatorButtonHelper('ce')" />
                <calculator-button btn-label="C" color="dark-red" (click)="calculatorButtonHelper('c')" />
              </div>

              <calculator-button class="btn-mc" btn-label="MC" color="red" (click)="calculatorButtonHelper('mc')" />
              <calculator-button class="btn-mr" btn-label="MR" color="red" (click)="calculatorButtonHelper('mr')" />
              <calculator-button class="btn-ms" btn-label="MS" color="red" (click)="calculatorButtonHelper('ms')" />
              <calculator-button class="btn-m-plus" btn-label="M+" color="red" (click)="calculatorButtonHelper('m+')" />

              <div class="calc-buttons">
                <calculator-button class="btn-7" btn-label="7" (click)="numberButtonHelper(7)" />
                <calculator-button class="btn-4" btn-label="4" (click)="numberButtonHelper(4)" />
                <calculator-button class="btn-1" btn-label="1" (click)="numberButtonHelper(1)" />
                <calculator-button class="btn-0" btn-label="0" (click)="numberButtonHelper(0)" />

                <calculator-button class="btn-8" btn-label="8" (click)="numberButtonHelper(8)" />
                <calculator-button class="btn-5" btn-label="5" (click)="numberButtonHelper(5)" />
                <calculator-button class="btn-2" btn-label="2" (click)="numberButtonHelper(2)" />
                <calculator-button class="btn-pm" btn-label="+/-" (click)="calculatorButtonHelper('+/-')" />

                <calculator-button class="btn-9" btn-label="9" (click)="numberButtonHelper(9)" />
                <calculator-button class="btn-6" btn-label="6" (click)="numberButtonHelper(6)" />
                <calculator-button class="btn-3" btn-label="3" (click)="numberButtonHelper(3)" />
                <calculator-button class="btn-dot" btn-label="." (click)="calculatorButtonHelper('.')" />

                <calculator-button class="btn-div" btn-label="/" color="red" (click)="calculatorButtonHelper('/')" />
                <calculator-button class="btn-mul" btn-label="*" color="red" (click)="calculatorButtonHelper('*')" />
                <calculator-button class="btn-sub" btn-label="-" color="red" (click)="calculatorButtonHelper('-')" />
                <calculator-button class="btn-add" btn-label="+" color="red" (click)="calculatorButtonHelper('+')" />

                <calculator-button class="btn-sqrt" btn-label="sqrt" color="dark-blue" (click)="calculatorButtonHelper('sqrt')" />
                <calculator-button class="btn-prct" btn-label="%" color="dark-blue" (click)="calculatorButtonHelper('%')" />
                <calculator-button class="btn-1ovr" btn-label="1/x" color="dark-blue" (click)="calculatorButtonHelper('1/x')" />
                <calculator-button class="btn-eql" btn-label="=" color="red" (click)="calculatorButtonHelper('=')" />
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </window-frame>
</div>
