<div class="desktop-environment-wrapper" #desktopEnvironment (click)="clickHandler($event)">
  <div class="programs">
    <ng-content></ng-content>
  </div>
  <div class="icons">
    <desktop-icon icon-text="My Computer" icon-src="assets/icons/my-computer.svg" icon-focus-name="my-computer-icon" focus-name="my-computer" />
    <desktop-icon icon-text="Internet Explorer" icon-src="assets/icons/internet-explorer.svg" icon-focus-name="internet-explorer-icon" focus-name="internet-explorer" />
  </div>
</div>
