<div class="desktop-environment-wrapper" #desktopEnvironment (click)="clickHandler($event)">
  <div class="programs">
    <ng-content></ng-content>
  </div>
  <div class="icons">
    <desktop-icon icon-text="My Computer" icon-src="assets/icons/my-computer.svg" icon-focus-name="my-computer-icon" focus-name="my-computer" />
    @if (systemService.isMobile()) {
      <desktop-icon icon-text="Mobile Program Menu" icon-src="assets/icons/program-folder.svg" icon-focus-name="mobile-folder-icon" focus-name="program-menu" />
    }
    <desktop-icon icon-text="Internet Explorer" icon-src="assets/icons/internet-explorer.svg" icon-focus-name="internet-explorer-icon" focus-name="internet-explorer" />
    <desktop-icon icon-text="Calculator" icon-src="assets/icons/calculator.svg" icon-focus-name="calculator-icon" focus-name="calculator"/>
  </div>
</div>
