@use "../../../scss/colors.scss" as *;
@use "../../../scss/styles.scss" as *;

.container {
  position: relative;

  .start-subdropout-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0px 4px;

    &.hovered {
      background-color: $win-95-highlight;
    }

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      gap: 8px;

      img {
        width: 22px;
        @include icon-common();
      }

      p {
        font-size: 15px;
        color: black;
        @include text-common();

        &.hovered {
          color: white;
        }
      }
    }

    .arrow {
      display: block;
    }
  }

  .menu-space {
    position: absolute;
    left: 100%;
    display: none;

    &.top {
      top: -2px;
    }

    &.bottom {
      bottom: -2px;
    }

    &.visible {
      display: block;
    }
  }
}
