<div class="container">
  <div class="start-subdropout-wrapper" [class.hovered]="isHovered" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
    <div class="left">
      <img [src]="src" [alt]="text" />
      <p [class.hovered]="isHovered">{{ text }}</p>
    </div>
    <div class="right">
      <img [src]="isHovered ? 'assets/icons/submenu-arrow-white.svg' : 'assets/icons/submenu-arrow.svg'" [alt]="isHovered ? 'black arrow' : 'white arrow'" class="arrow" />
    </div>
  </div>
  <div class="menu-space" [class.top]="!bottom" [class.bottom]="bottom" [class.visible]="isHovered" (mouseover)="isHovered = true" (mouseleave)="isHovered = false">
    <ng-content></ng-content>
  </div>
</div>
