@use "../../../scss/colors.scss" as *;

.start-submenu-wrapper {
  background-color: $win-95-grey;
  border-top: 2px white outset;
  border-right: 2px black outset;
  border-bottom: 2px black outset;
  border-left: 2px white outset;
  height: 100%;
  width: 156px;
  display: flex;
  flex-direction: column;
}
