@use "../../scss/styles.scss";
@forward "../../scss/colors.scss";

@mixin taskbar-item-common {
  display: block;
  border-width: 2px;
  height: 24px;
}

@mixin taskbar-item-text {
  @include styles.text-common();
  font-size: 18px;
  color: black;
}

@mixin taskbar-item-icon {
  @include styles.icon-common();
  height: 22px;
}
