@use "../../scss/style.scss";
@forward "../../scss/color.scss";

@mixin item-common {
  display: block;
  border-width: 2px;
  height: 24px;
}

@mixin item-text {
  @include style.text-common();
  font-size: 18px;
  color: black;
}

@mixin item-icon {
  @include style.icon-common();
  height: 22px;
}
