@use "../../../../../scss/styles.scss";
@use "../../../../../scss/colors.scss";

button {
  background-color: colors.$win-95-grey;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    @include styles.icon-common();
  }
}
