@use "../../../../../scss/styles.scss" as *;
@use "../../../../../scss/colors.scss" as *;

button {
  background-color: $win-95-grey;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    @include icon-common();
  }
}
