@use "../../../../../scss/style.scss";
@use "../../../../../scss/color.scss";

button {
  background-color: color.$win-95-grey;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    @include style.icon-common();
  }
}
