@use "../../../styles.scss" as *;

.alert-shutdown-wrapper {
  @include alert-common();

  .frame-contents {
    background-color: #bfbfbf;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 24px 0px 12px;

    .left-side {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: baseline;

      img {
        @include icon-common();
        width: 48px;
        image-rendering: pixelated;
      }
    }

    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      .options {
        p {
          @include text-common();
          margin-bottom: 8px;
        }

        input[type="radio"] {
          accent-color: black; // need to make dot smaller, other modifications
        }

        label {
          @include text-common();
          border: 1px transparent dotted;
        }

        input[type="radio"]:checked + label {
          border-color: black;
        }
      }

      .controls {
        display: flex;
        justify-content: flex-end;
        gap: 6px;
        margin-right: 12px;

        button {
          @include control-button-common();
          font-size: 13px;
          width: 110px;
        }
      }
    }
  }
}
