@use "../taskbar.scss";

.taskbar-start-wrapper {
  @include taskbar.taskbar-item-common();
  border-style: outset;
  border-color: taskbar.$taskbar-item-border-white taskbar.$taskbar-item-border-black
    taskbar.$taskbar-item-border-black taskbar.$taskbar-item-border-white;
  padding: 2px 6px;
  align-content: center;
  margin-right: 8px;

  .contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    img {
      @include taskbar.taskbar-item-icon();
    }

    p {
      @include taskbar.taskbar-item-text();
      font-weight: bold;
    }
  }

  &.active {
    border-style: solid inset solid solid;
    border-color: #000 taskbar.$taskbar-item-border-white taskbar.$taskbar-item-border-white
      #000;
    align-content: center;

    .contents {
      border: 1px dotted #000;
    }
  }
}
