<div #startMenu class="start-menu-wrapper" (click)="clickHandler($event)">
  <div class="win-95-bar">
    <img src="assets/windows-95-text-start-menu.svg" alt="Windows95" />
  </div>
  <div class="right-side">
    <div class="programs">
      <start-dropdown icon="assets/icons/program-folder.svg" text="Programs (WIP)" />
      <start-dropdown icon="assets/icons/settings.svg" text="Settings (WIP)" />
      <start-item icon="assets/icons/system-monitor.svg" program-name="System Monitor" focus-name="system-monitor" />
      <start-item icon="assets/icons/internet-explorer.svg" program-name="Internet Explorer (WIP)" focus-name="internet-explorer" />
      <start-item icon="assets/icons/windows-explorer.svg" program-name="Windows Explorer (WIP)" focus-name="windows-explorer" />
      <start-item icon="assets/icons/help.svg" program-name="Help" focus-name="help" />
    </div>
    <div class="power-options">
      <start-shutdown />
    </div>
  </div>
</div>
