<div #startMenu class="start-menu-wrapper" (click)="clickHandler($event)">
  <div class="win-95-bar">
    <p><span>Windows</span><span>95</span></p>
  </div>
  <div class="right-side">
    <div class="programs">
      <start-dropdown icon="assets/icons/program-folder.ico" text="Programs"></start-dropdown>
      <start-item icon="assets/icons/msdos.ico" text="MS-DOS Prompt"></start-item>
      <start-item icon="assets/icons/msdos.ico" text="MS-DOS Prompt"></start-item>
      <start-item icon="assets/icons/msdos.ico" text="MS-DOS Prompt"></start-item>
      <start-item icon="assets/icons/msdos.ico" text="MS-DOS Prompt"></start-item>
      <start-item icon="assets/icons/msdos.ico" text="MS-DOS Prompt"></start-item>
    </div>
    <div class="power-options">
      <start-shutdown></start-shutdown>
    </div>
  </div>
</div>
