@use "../../../scss/styles.scss" as *;
@use "../../../scss/colors.scss" as *;

.start-menu-wrapper {
  background-color: #bec3c6;
  width: 100%;
  height: 100%;
  border-style: outset solid solid outset;
  border-color: $taskbar-item-border-white #131818 #131818
    $taskbar-item-border-white;
  display: flex;
  flex-direction: row;

  .win-95-bar {
    background-color: #82878b;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;

    img {
      @include icon-common();
      width: 32px;
      padding: 8px;
      height: auto;
    }
  }

  .right-side {
    width: 85%;
    display: flex;
    flex-direction: column;
    height: 100%;

    start-item,
    start-dropout,
    .power-options {
      display: block;
      width: 100%;
      height: 70px;
    }

    .programs {
      border-bottom: 2px #8a8a8a solid;
    }

    .power-options {
      height: 70px;
      padding-top: 4px;
      border-top: 2px #f1f1f1 solid;
    }
  }
}
