@use "../../../styles.scss" as *;
@use "../programs.scss" as *;
@use "../../ui/control-button.scss" as *;

.my-computer-wrapper {
  @include program-common();

  window-frame {
    width: 475px; // TODO figure out a solution for mobile devices
    height: 475px;
    @include mobile-viewport();

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      .padding {
        padding: 36px 8px 8px 8px;
        height: calc(100% - 36px - 8px);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .content {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: calc(100% - 24px);
          border-style: outset solid solid outset;
          border-color: white black black white;
          border-width: 2px;

          .left {
            width: 50%;
            display: flex;
            justify-content: center;
            padding-top: 48px;

            .img-wrapper {
              img {
                @include icon-common();
              }
            }
          }

          .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 24px;

            figure {
              figcaption {
                margin-bottom: 4px;
              }

              ul {
                padding-left: 20px;

                li {
                  list-style-type: none;

                  @media only screen and (max-width: 400px) {
                    font-size: 14px;
                  }

                  &:not(:last-child) {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }

        .buttons {
          display: flex;
          gap: 8px;
          justify-content: end;
          height: 24px;

          button {
            @include control-button-common();
            width: 72px;
            height: 24px;
          }
        }
      }
    }
  }
}
