<div class="my-computer-wrapper">
  <window-frame window-title="My Computer" focus-name="my-computer" window-icon="assets/icons/my-computer.svg" [prevent-resizing]="true" [hide-buttons]="true">
    <div class="frame-contents">
      <div class="padding">
        <div class="content">
          <div class="left">
            <div class="img-wrapper">
              <img src="assets/monitor-image.png" alt="">
            </div>
          </div>
          <div class="right">
            <figure>
              <figcaption>System:</figcaption>
              <ul>
                <li>Zach's Personal Website</li>
                <li>Address: {{ store.webAddress }}</li>
                <li>Version 1.0.0</li>
              </ul>
            </figure>
            <figure>
              <figcaption>Registered to:</figcaption>
              <ul>
                <li>Zachary Dodson</li>
                <li>
                  <!-- Must be done with JS bypass Firefox not opening in new tab bug-->
                  <a href="javascript:globalThis.open('mailto:zach@zachdodson.me?subject=Reaching%20out%20from%20your%20website!', '_blank')">zach@zachdodson.me</a>
                </li>
                <li>
                  <a href="https://github.com/zdodson21" target="_blank">zdodson21 @ GitHub</a>
                </li>
                <li>
                  <a href="https://github.com/zdodson21/retro-desktop-portfolio" target="_blank">Project Repository</a>
                </li>
              </ul>
            </figure>
            <figure>
              <figcaption>Computer:</figcaption>
              <ul>
                <li>Browser: {{ store.getBrowser() }}</li>
                <li>Operating System: {{ store.getOS() }}</li>
                <li>Available Processor Cores: {{ store.systemCores }}</li>
              </ul>
            </figure>
          </div>
        </div>
        <div class="buttons">
          <button (click)="buttonHelper($event)">
            <span>OK</span>
          </button>
          <button (click)="buttonHelper($event)">
            <span>Cancel</span>
          </button>
        </div>
      </div>
    </div>
  </window-frame>
</div>
