@use "../../../styles.scss" as *;

.my-computer-wrapper {
  @include program-common();

  window-frame {
    width: 475px;
    height: 475px;

    .frame-contents {
      @include text-common();
      @include frame-contents-common();

      .padding {
        padding: 36px 8px 8px 8px;
        height: calc(100% - 36px - 8px);
        display: flex;
        flex-direction: column;
        gap: 8px;

        .content {
          display: flex;
          flex-direction: row;
          width: 100%;
          height: calc(100% - 24px);
          border-style: outset solid solid outset;
          border-color: white black black white;
          border-width: 2px;

          .left {
            width: 50%;
            display: flex;
            justify-content: center;
            padding-top: 48px;
          }

          .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-top: 24px;

            figure {
              figcaption {
                margin-bottom: 4px;
              }

              ul {
                padding-left: 20px;

                li {
                  list-style-type: none;

                  &:not(:last-child) {
                    margin-bottom: 4px;
                  }
                }
              }
            }
          }
        }

        .buttons {
          display: flex;
          gap: 8px;
          justify-content: end;
          height: 24px;

          button {
            @include control-button-common();
            width: 72px;
            height: 24px;
          }
        }
      }
    }
  }
}
