@use "../styles.scss";

.app-wrapper {
  background-color: #007d80;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

desktop-environment {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 43px);
}

start-menu {
  position: absolute;
  bottom: 42px;
  left: 10px;
  z-index: 999999;
  width: 300px;
  height: auto;
  visibility: hidden;

  &.visible {
    visibility: visible;
  }
}

taskbar-base {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  border-top: 3px solid #fff;
}

p {
  margin: 0;
  padding: 0;
}
