<div class="app-wrapper" [class.visible]="this.store.desktopMode() === 0">
  <alert-shutdown [class.visible]="this.store.focus() === 'shutdown-alert'"></alert-shutdown>
  <desktop-environment>
    <router-outlet></router-outlet>
  </desktop-environment>
  <start-menu [class.visible]="store.focus() === 'start-menu'" />
  <taskbar-base />
</div>

<shutdown-screen [class.visible]="this.store.desktopMode() === 1" />

<msdos-prompt [class.visible]="this.store.desktopMode() === 2" />

<div class="print-selection">
  @switch (IEService.displayedSite()) {
    @case ('about-me') {
      <about-me />
    }
    @case ('calculator') {
      <calculator-site />
    }
    @case ('hax-audit') {
      <hax-audit />
    }
    @case ('hax-chat-agent') {
      <hax-chat-agent />
    }
    @case ('open-source-contributions') {
      <open-source-contributions />
    }
    @case ('retro-desktop-portfolio') {
      <retro-desktop-portfolio />
    }
    @case ('') {
      <secret-site />
    }
    @case ('small-projects') {
      <small-projects />
    }
    @default {
      <error-site />
    }
  }
</div>
