@use "../../../styles.scss" as *;

.system-monitor-wrapper {
  @include program-common();

  .frame-contents {
    @include text-common();
    @include allow-user-select();
    @include frame-contents-common();
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;

    figure {
      padding: 4px;
      flex: 1;
      background-color: white;
      border-style: inset;
      border-color: #3b3b3b #e7e7e7 #e7e7e7 #3b3b3b;

      .open-programs {
        margin-bottom: 8px;
      }

      figcaption {
        text-decoration: underline;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px;
      }

      ul {
        padding-left: 0;

        &:not(:last-child) {
          margin-bottom: 8px;
        }

        li {
          list-style-type: none;
        }
      }
    }
  }
}
