@use "../../../scss/styles.scss" as *;
@use "../programs.scss" as *;

.system-monitor-wrapper {
  @include program-common();

  window-frame {
    @include mobile-viewport();
  }

  .frame-contents {
    @include text-common();
    @include allow-user-select();
    @include frame-contents-common();
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;

    figure {
      padding: 4px;
      flex: 1;
      background-color: white;
      border-style: inset;
      border-color: #3b3b3b #e7e7e7 #e7e7e7 #3b3b3b;
      overflow: auto;

      .open-programs {
        margin-bottom: 12px;
      }

      figcaption {
        text-decoration: underline;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px;
      }

      ul {
        padding-left: 0;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        li {
          list-style-type: none;

          &.open-program {
            &:not(:last-child) {
              border-bottom: dashed black 2px;
            }
          }

          &:not(:last-child) {
            padding-bottom: 4px;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
