<div class="system-monitor-wrapper">
  <window-frame window-title="System Monitor" focus-name="system-monitor" window-icon="assets/icons/system-monitor.svg" [percent-height]="50" [percent-width]="50">
    <div class="frame-contents">
      <figure class="variables">
        <figcaption>Variables</figcaption>
        <ul>
          <li>
            <em>focus:</em>
            {{ store.focus() }}
          </li>
          <li>
            <em>viewportWidth:</em>
            {{ store.viewportWidth() }}
          </li>
          <li>
            <em>viewportHeight:</em>
            {{ store.viewportHeight() }}
          </li>
        </ul>

        <figcaption>Browser Information</figcaption>
        <ul>
          <li>
            <em>Browser:</em>
            {{ store.getBrowser() }}
          </li>
          <li>
            <em>Operating System:</em>
            {{ store.getOS() }}
          </li>
          <li>
            <em>Web Address:</em>
            {{ store.webAddress }}
          </li>
        </ul>
      </figure>
      <figure class="program-states">
        <div class="open-programs">
          <figcaption>Open Programs</figcaption>
          @for (program of store.openPrograms(); track program) {
            <ul>
              <li>
                <em>{{ program.programName }}</em>
              </li>
              <ul>
                <li>Focus Name: {{ program.focusName }}</li>
                <li>Icon Path: {{ program.iconPath }}</li>
              </ul>
            </ul>
          }
        </div>
        <div class="minimized-programs">
          <figcaption>Minimized Programs</figcaption>
          @for (program of store.minimizedPrograms(); track program) {
            <ul>
              <li>{{ program }}</li>
            </ul>
          }
        </div>
      </figure>
    </div>
  </window-frame>
</div>
