<div class="system-monitor-wrapper">
<!-- TODO this is part of the desktop icon clickng problem. ensure fix is added to program-common() -->
  <window-frame window-title="System Monitor" focus-name="system-monitor" window-icon="assets/icons/system-monitor.png">
    <div class="frame-contents">
      <figure class="variables">
        <figcaption>Variables</figcaption>
        <ul>
          <li>
            <em>focus:</em>
            {{ this.store.focus() }}
          </li>
          <li>
            <em>viewportWidth:</em>
            {{ this.store.viewportWidth() }}
          </li>
          <li>
            <em>viewportHeight:</em>
            {{ this.store.viewportHeight() }}
          </li>
        </ul>
      </figure>
      <figure class="program-states">
        <div class="open-programs">
          <figcaption>Open Programs</figcaption>
          @for (program of this.store.openPrograms(); track program) {
            <ul>
              <li>
                <em>{{ program.programName }}</em>
              </li>
              <ul>
                <li>Focus Name: {{ program.focusName }}</li>
              </ul>
            </ul>
          }
        </div>
        <div class="minimized-programs">
          <figcaption>Minimized Programs</figcaption>
          @for (program of this.store.minimizedPrograms(); track program) {
            <ul>
              <li>{{ program }}</li>
            </ul>
          }
        </div>
      </figure>
    </div>
  </window-frame>
</div>
