<div class="system-monitor-wrapper">
  <window-frame window-title="System Monitor" focus-name="system-monitor" window-icon="assets/icons/system-monitor.png">
    <div class="frame-contents">
      <figure class="variables">
        <figcaption>Variables</figcaption>
        <ul>
          <li>
            <em>focus:</em>
            {{ this.store.focus() }}
          </li>
          <li>
            <em>showShutdownAlert:</em>
            {{ this.store.showShutdownAlert() }}
          </li>
          <li>
            <em>viewportWidth:</em>
            {{ this.store.viewportWidth() }}
          </li>
          <li>
            <em>viewportHeight:</em>
            {{ this.store.viewportHeight() }}
          </li>
        </ul>
      </figure>
      <figure class="open-programs">
        <figcaption>Open Programs</figcaption>
        @for (program of openPrograms; track program) {
          <ul>
            <li>
              <em>{{ program.programName }}</em>
            </li>
            <ul>
              <li>Focus Name: {{ program.focusName }}</li>
            </ul>
          </ul>
        }
      </figure>
    </div>
  </window-frame>
</div>
