<div class="window-frame-wrapper">
  <div class="top-panel">
    <p>{{ title }}</p>
    <div class="controls">
      <button #minimizeButton class="minimize-button">
        -
      </button>
      <!-- TODO add test when asset added above -->
      <button #viewButton class="view-button">
        <img src="/assets/icons/view-maximize.svg" alt="maximize icon">
      </button>
      <button #closeButton class="close-button" (click)="closeButtonHandler()">
        <img src="/assets/icons/close-button.svg" alt="close icon">
      </button>
    </div>
  </div>
  <div class="window-body">
    <ng-content></ng-content>
  </div>
</div>
