<div #wrapper class="window-frame-wrapper" [class.focus]="isElementFocused()" [class.minimized]="isElementMinimized()" (click)="setFocus($event)">
  <div class="top-panel">
    <div class="left-side">
      @if (icon) {
        <img src="{{ icon }}" alt="{{ title }}" />
      }
      <p>{{ title }}</p>
    </div>
    <div class="controls">
      @if (!hideButtons) {
        <div class="no-gap">
          <button #minimizeButton class="minimize-button" (click)="minimizeButtonHandler($event)">
            <img src="assets/icons/minimize-button.svg" alt="minimize icon" />
          </button>
          <button #viewButton class="view-button" (click)="viewButtonHandler()" [disabled]="preventResizing">
            <img src="{{ viewIcon }}" [alt]="isFullSize ? 'Window shrink button icon' : 'Window maximize button icon'" />
            <!-- TODO set alt text to change when viewIcon changes -->
          </button>
        </div>
      }
      <button class="close-button" (click)="closeButtonHandler($event)">
        <img src="assets/icons/close-button.svg" alt="close icon" />
      </button>
    </div>
  </div>
  <div class="window-body">
    <ng-content></ng-content>
  </div>
</div>
