@use '../../../styles.scss' as *;

.desktop-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 8px;
  image-rendering: crisp-edges;
  // border: 1px pink solid; // TODO remove, just for visualizing things

  img {
    @include icon-common();
    height: 45px;
  }

  p {
    @include text-common();
    text-wrap: balance;
    text-align: center;
    font-size: 16px;
    color: white;
  }

  // TODO see about using focus for borders
}
