@use "../../scss/styles.scss";
@use "../../scss/color.scss";
@forward "../../scss/color.scss";
@forward "../../scss/styles.scss";

@mixin start-menu-object {
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  height: 100%;

  img {
    @include styles.icon-common();
    width: 32px;
  }

  p {
    @include styles.text-common();
  }

  &:hover,
  &:active {
    background-color: color.$win-95-highlight;

    p {
      color: white;
    }
  }
}
