<div class="windows-explorer-wrapper">
  <window-frame window-title="Windows Explorer" focus-name="windows-explorer" window-icon="assets/icons/windows-explorer.svg" [percent-width]="50" [percent-height]="70">
    <div class="frame-contents">
      <div class="padding">
        <div class="location-bar">
          <p>{{ WEService.currentLocation()[WEService.currentLocation().length - 1] }}</p>
        </div>
        @for (site of IEService.possibleSites; track $index) {
          <file-icon focus-name="internet-explorer" [path]="site.domain" icon-src="assets/icons/html-file.svg" [file-name]="site.domain" file-type="html"/>
        }
      </div>
    </div>
  </window-frame>
</div>
