<article class="osc-wrapper">
  <header>
    <h1>Open Source Contributions</h1>
  </header>
  <main>
    <div class="godot-website">
      <ul>
        <li>
          <a-ie href="https://github.com/godotengine/godot-website/pull/914">
            Fixed contrast issues on Windows Godot Engine download page, improving accessibility.
          </a-ie>
        </li>
      </ul>
    </div>

    <div class="haxtheweb">
      <h2>HAXTheWeb</h2>
      <p>HAXTheWeb contributions can be seen on the following pages</p>
      <ul>
        <li>
          <ie-route domain="hax-audit" tld="os">HAX Audit CLI Tool</ie-route>
        </li>
        <li>
          <ie-route domain="hax-chat-agent" tld="os">
            HAX Chat Agent
          </ie-route>
        </li>
      </ul>
    </div>
  </main>
</article>
