<!-- prettier-ignore -->
<article class="osc-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <h1>Open Source Contributions</h1>
  </header>
  <main>
    <p>Site to record any open source projects I contribute to, big and small.</p>
    <p>* means frequent or more meaningful contributions</p>
    <ul>
      <li>
        <a-ie href="https://github.com/godotengine">
          Godot
        </a-ie>
        <ul>
          <li>
            <a-ie href="https://github.com/godotengine/godot-website">
              Godot Website
            </a-ie>
            <ul>
              <li>
                <a-ie href="https://github.com/godotengine/godot-website/pulls?q=is%3Apr+author%3Azdodson21">
                  My Contributions
                </a-ie>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a-ie href="https://github.com/haxtheweb/">
          HAXTheWeb
        </a-ie>
        <ul>
          <li>
            <a-ie href="https://github.com/haxtheweb/webcomponents">
              HAX Web Components*
            </a-ie>
            <ul>
              <li>
                <ie-route domain="hax-chat-agent" tld="org">
                  Chat Agent Project
                </ie-route>
              </li>
              <li>
                <a-ie href="https://github.com/haxtheweb/webcomponents/pulls?q=is%3Apr+author%3Azdodson21+">
                  My Contributions
                </a-ie>
              </li>
            </ul>
          </li>

          <li>
            <a-ie href="https://github.com/haxtheweb/create">
              HAX Command Line Tool*
            </a-ie>
            <ul>
              <li>
                <ie-route domain="hax-audit" tld="os">
                  Audit CLI Tool
                </ie-route>
              </li>
              <li>
                <a-ie href="https://github.com/haxtheweb/create/pulls?q=is%3Apr+author%3Azdodson21">
                  My Contributions
                </a-ie>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>
        <a-ie href="https://github.com/Ileriayo/markdown-badges">
          Markdown Badges
        </a-ie>
        <ul>
          <li>
            <a-ie href="https://github.com/Ileriayo/markdown-badges/pulls?q=is%3Apr+author%3Azdodson21">
              My Contributions
            </a-ie>
          </li>
        </ul>
      </li>

      <li>
        <a-ie href="https://github.com/vscode-icons/vscode-icons">
          VSCode Icons
        </a-ie>
        <ul>
          <li>
            <a-ie href="https://github.com/vscode-icons/vscode-icons/issues?q=is%3Apr%20author%3Azdodson21">
              My Contributions
            </a-ie>
          </li>
        </ul>
      </li>
    </ul>
  </main>
</article>
