<!-- prettier-ignore -->
<article class="osc-wrapper">
  <header>
    <h1>Open Source Contributions</h1>
  </header>
  <main>
    <section class="godot">
      <h2><a-ie href="https://github.com/godotengine">Godot</a-ie></h2>
      <section class="gd-website">
        <h3><a-ie href="https://github.com/godotengine/godot-website">Godot Website Contributions</a-ie></h3>
        <ul>
          <li>
            <a-ie href="https://github.com/godotengine/godot-website/pull/914">Fixed contrast issues on Windows Godot Engine download page, improving accessibility.</a-ie>
          </li>
        </ul>
      </section>
    </section>

    <section class="haxtheweb">
      <h2><a-ie href="https://github.com/haxtheweb/">HAXTheWeb</a-ie></h2>
      <section class="hax-cms">
        <h3><a-ie href="https://github.com/haxtheweb/webcomponents">HAXTheWeb CMS Contributions</a-ie></h3>
        <ul>
          <li>
            <ie-route domain="hax-chat-agent" tld="os">HAX Chat Agent</ie-route>
          </li>
        </ul>
      </section>
      <section class="hax-cli">
        <h3><a-ie href="https://github.com/haxtheweb/create">HAXTheWeb Command Line Tool (Create) Contributions</a-ie></h3>
        <ul>
          <li>
            <ie-route domain="hax-audit" tld="os">HAX Audit CLI Tool</ie-route>
          </li>
          <li>
            ~Bi-yearly documentation & maintenance contributions
          </li>
        </ul>
      </section>
    </section>

    <section class="vscode-icons">
      <h2><a-ie href="https://github.com/vscode-icons/vscode-icons">VSCode Icons</a-ie></h2>
      <ul>
        <li><a-ie href="https://github.com/vscode-icons/vscode-icons/pull/3841">Angular Folder Icon</a-ie></li>
      </ul>
    </section>
  </main>
</article>
