@use "../sites.scss" as *;
@use "../site-images.scss" as *;

.py-weather-site-wrapper {
  @include site-common();

  main {
    .details {
      .steps-taken {
        .program-creation {
          .img-container {
            @include full-img-container(45%);
          }
        }
      }
    }
  }
}
