@use "../site-component.scss";

a {
  &.dark-mode {
    color: #00a2e7;

    &:active,
    &:visited {
      color: #f34399;
    }
  }

  &.in-site {
    font-family: site-component.$hyperlink-font;
  }
}
