<!-- prettier-ignore -->
<article class="portfolio-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <h1>Retro Desktop Portfolio (<time datetime="2025-03">March 2025</time> - ...)</h1>
    <div class="badges">
      <img src="assets/badges/angular.svg" alt="angular badge" />
      <img src="assets/badges/typescript.svg" alt="typescript badge" />
      <img src="assets/badges/html5.svg" alt="html 5 badge" />
      <img src="assets/badges/scss.svg" alt="scss badge" />
      <img src="assets/badges/css3.svg" alt="css3 badge">
      <img src="assets/badges/c.svg" alt="c programming language badge">
      <img src="assets/badges/wasm.svg" alt="web assembly badge">
      <img src="assets/badges/git.svg" alt="git badge">
      <img src="assets/badges/github.svg" alt="github badge" />
      <img src="assets/badges/vercel.svg" alt="vercel badge" />
      <img src="assets/badges/cloudflare.svg" alt="cloudflare badge" />
      <img src="assets/badges/github-actions.svg" alt="github actions badge" />
      <img src="assets/badges/jasmine.svg" alt="jasmine badge" />
      <img src="assets/badges/prettier.svg" alt="prettier badge" />
      <img src="assets/badges/docker.svg" alt="docker badge" />
      <img src="assets/badges/electron.svg" alt="Electron.js badge" />
      <img src="assets/badges/aseprite.svg" alt="aseprite badge" />
      <img src="assets/badges/gimp.svg" alt="gimp badge" />
    </div>
    <nav>
      <a-ie href="https://github.com/zdodson21/retro-desktop-portfolio">Project Repository</a-ie>
    </nav>
  </header>
  <main>
    <section class="description">
      <h2>Description</h2>
      <p>
        This is the project you are currently viewing.
        This Windows 95 themed web application uses the Angular framework.
      </p>
    </section>

    <section class="features-highlight">
      <h2>Features Highlight:</h2>

      <section class="window-frame">
        <h3>Window Frame Component</h3>
        <p>
          The Window Frame component is arguably the most important component in this whole project.
          It is a wrapper I developed that enables me to painlessly make any HTML content act as a "window",
          similar to how program windows work on many operating systems.
          It enables the content to be viewed, moved, scaled, closed, minimized, etc.
          Every program in this web app is wrapped by a window-frame component.
        </p>
      </section>

      <section class="internet-explorer">
        <h3>Internet Explorer Component</h3>
        <p>
          Replicating Internet Explorer was the best and most efficient way to enable the "portfolio"
          aspect of this web application. Any project I wish to describe in detail can be given its own "website",
          which can be rendered within the Internet Explorer component.
          This keeps all portfolio content in one accessible location.
          The use of Angular Routing also makes each project's web page simple to share with others
          (try clicking on the "Copy" or "Mail" buttons above!).
        </p>
      </section>

      <section class="calculator">
        <h3>Calculator Program Component</h3>
        <p>
          Inspired by Windows 95's calculator, I developed a <ie-route domain="calculator" tld="net">math function library</ie-route>
          using C and compiling it to WebAssembly, and connected to the front-end of this web app using Angular and TypeScript. The
          calculator program can be accessed from the Start Menu under Programs > Accessories.
        </p>
      </section>
    </section>

    <section class="routing-implementation">
      <h3>Routing Implementation</h3>
      <p>
        Routing was one part that lead me to choose Angular for this project.
        I knew I wanted to be able to access this web application and quickly load any programs from the URL bar,
        which routing enables. Each program opens when it is added as a parameter to the "programs" query,
        which in some cases can then be used to render components in certain ways (for example, <em>system-monitor</em> does
        not use any parameters, but <em>internet-explorer</em> does use parameters to render "websites").
      </p>
    </section>

    <section class="dev-tools">
      <h3>Developer Tools</h3>
      <p>The following developer tools were utilized to enhance the developer experience:</p>
      <ul>
        <li>
          Creating a
          <em>System Monitor</em>
          component to display relevant browser and code information within the web app. This program is accessible via the Start Menu.
        </li>
        <li>
          Unit tests have been implemented for all relevant components (anything that has logic),
          and GitHub Actions have been configured for this project repository for testing and building.
        </li>
        <li>
          Prettier was utilized to ensure consistent code formatting across the entire codebase.
        </li>
      </ul>
    </section>

    <section class="extra-mile">
      <h3>Going Off the "Standard Path"</h3>
      <p>
        Not all tech used for this project is "essential" to its operation.
        This idea mainly focuses on Electron and Docker. While this website primarily serves as my portfolio,
        I also wanted it to serve as a "code sandbox" I could utilize to learn new technologies.
        This design philosophy allowed me to easily incorporate features such as Electron, Docker, and WebAssembly.
      </p>
    </section>

    <section class="why-win-95">
      <h2>Why the Windows 95 theme and functionality?</h2>
      <p>
        First, I did not want to create what looked or felt like "just another website". I wanted to avoid blending in with other
        developers who create a simple multi-page website using React (not that there is anything wrong with that!). Instead,
        I wanted to stand out.
      </p>
      <p>
        Second, I wanted the development of my website to challenge me to learn new skills, which was a goal I achieved. The creation
        of this website taught me new skills / improved my existing skills, such as Angular, HTML, SCSS / CSS, TypeScript & JavaScript,
        C, Web Assembly, programming logic, graphic design softwares, cross browser development, and much more. A simple multi page website
        can only teach the developer so much. Creating a web application that replicate the look and feel of an operating system can teach
        much more.
      </p>
    </section>

    <section class="post-release-features">
      <h2>Post Release Features:</h2>

      <section class="calculator">
        <h3>
          Calculator Library /  Program
          @if(systemService.isMobile()) {
            (Located in Start Menu > Mobile Program Menu)
          } @else {
            (Located in Start Menu > Programs > Accessories)
          }
        </h3>

        <nav>
          <ie-route domain="calculator" tld="net">
            Project Description
          </ie-route>
          <a-ie href="https://github.com/zdodson21/retro-desktop-portfolio/tree/main/src/components/programs/calculator">
            Calculator Program Repository
          </a-ie>
          <a-ie href="https://github.com/zdodson21/math.wasm">
            Math Library Source Code
          </a-ie>
        </nav>
        <p>
          Tech used includes:
        </p>
        <ul>
          <li>C Programming Language</li>
          <li>WebAssembly</li>
          <li>Angular</li>
          <li>TypeScript</li>
          <li>HTML5</li>
          <li>SCSS</li>
        </ul>
      </section>
    </section>
  </main>
</article>
