@use "../sites.scss" as *;

.portfolio-site-wrapper {
  @include site-common();

  main {
    section {
      p {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      &.post-release-features {
        .calculator {
          nav {
            padding-bottom: 24px;
          }
        }
      }
    }
  }
}
