<!-- prettier-ignore -->
<article class="portfolio-site-wrapper">
  <header>
    <h1>Retro Desktop Portfolio (<time datetime="2025-03">March 2025</time> - ...)</h1>
    <div class="badges">
      <img src="assets/badges/angular.svg" alt="angular badge" />
      <img src="assets/badges/typescript.svg" alt="typescript badge" />
      <img src="assets/badges/html5.svg" alt="html 5 badge" />
      <img src="assets/badges/scss.svg" alt="scss badge" />
      <img src="assets/badges/jasmine.svg" alt="jasmine badge" />
      <img src="assets/badges/prettier.svg" alt="prettier badge" />
      <img src="assets/badges/github-actions.svg" alt="github actions badge" />
      <img src="assets/badges/github.svg" alt="github badge" />
      <img src="assets/badges/vercel.svg" alt="vercel badge" />
      <img src="assets/badges/cloudflare.svg" alt="cloudflare badge" />
      <img src="assets/badges/docker.svg" alt="docker badge" />
      <img src="assets/badges/electron.svg" alt="Electron.js badge" />
      <img src="assets/badges/aseprite.svg" alt="aseprite badge" />
      <img src="assets/badges/gimp.svg" alt="gimp badge" />
    </div>
    <nav>
      <a-ie href="https://github.com/zdodson21/retro-desktop-portfolio">Project Repository</a-ie>
    </nav>
  </header>
  <main>
    <section class="description">
      <h2>Description</h2>
      <p>
        This is the project you are currently viewing.
        This Windows 95 themed web application created using the Angular framework.
      </p>
    </section>

    <section class="features-highlight">
      <h2>Features Highlight:</h2>
      <section class="window-frame">
        <h3>Window Frame Component</h3>
        <p>
          The Window Frame component is arguably the most important component in this whole project.
          It is a wrapper I developed that enables me painlessly make any HTML content act as a "window",
          similar to how program windows work on many operating systems.
          It enables the content to be viewed, moved, scaled, closed, minimized, etc.
          Every program in this web app is wrapped by a window-frame component.
        </p>
      </section>
      <section class="internet-explorer">
        <h3>Internet Explorer Component</h3>
        <p>
          Replicating Internet Explorer was the best and most efficient way to enable the "portfolio"
          aspect of this web application. Any project I wish to describe in detail can be given its own "website",
          which can be rendered within the Internet Explorer component.
          This keeps all portfolio content in one easily accessible location.
          The use of Angular Routing also makes each project's web page simple to share with others
          (try clicking on the "Mail" button above!).
        </p>
      </section>
    </section>

    <section class="routing-implementation">
      <h3>Routing Implementation</h3>
      <p>
        Routing was one part that lead me to choose Angular for this project.
        I knew I wanted to be able to access this web application and quickly load any programs I wished to use with ease,
        which routing enables. Each program opens when it is added as a parameter to the "programs" query,
        which in some cases can then be used to render components in certain ways (for example, <em>system-monitor</em> does
        not use any parameters, but <em>internet-explorer</em> does use parameters to render "websites").
      </p>
      <p>
        If you are confused, I suggest opening various programs from the Start menu and watching the web address in the URL bar.
        It will change based on what programs are open, and in certain cases (such as <em>internet-explorer</em>) affect how
        the program is rendered as well. This behavior allows anyone to open programs from their browser's address bar
        without first rendering the web app. This feature will be more useful as more programs are created and added
        (such as a calculator or paint program).
      </p>
    </section>

    <section class="dev-tools">
      <h3>Developer Tools</h3>
      <p>The following developer tools were utilized to enhance the developer experience:</p>
      <ul>
        <li>
          Creating a
          <em>System Monitor</em>
          component to display relevant browser and code information within the web app. This program is accessible via the Start Menu.
        </li>
        <li>
          Unit tests have been implemented for all relevant components (anything that has logic),
          and GitHub Actions have been configured for this project repository for testing and building.
        </li>
        <li>
          Prettier was utilized to ensure consistent code formatting across the entire codebase.
        </li>
      </ul>
    </section>

    <section class="extra-mile">
      <h3>Going Off the "Standard Path"</h3>
      <p>
        Not all tech used for this project is "essential" to its operation.
        This idea mainly focuses on Electron and Docker. While this website primarily serves as my portfolio,
        I also wanted it to serve as a "code sandbox" I could utilize to learn new technologies.
        This design philosophy allowed me to easily incorporate Electron packaging and Docker containerization.
      </p>
      <p>
        A future feature that will follow this philosophy will be the calculator.
        Ideally, I would like to write the calculator program logic in
        <em>C</em>, then compile it to <em>WebAssembly</em>
        so it can be used by the calculator front-end (Angular component).
        This isn't the most practical or efficient way to complete the task or writing a calculator,
        but it will give me a start in learning the C programming language and gaining a better understanding of WebAssembly.
        If this route does not work, then I will resort to creating the calculator in TypeScript instead.
      </p>
    </section>

    <section class="story-time">
      <h2>Story Time</h2>
      <p>
        Why did I create this web application?
        That is the question that has many answers.
        First, I didn't want to blend in with others by creating a website made up of a few pages,
        some text, pictures, and being "made with React".
        I wanted to stand out, and creating a "standard website" seemed too simple and would have
        been a project that wouldn't have benefitted me much as a developer.
        I preferred to make something that would challenge me to learn new things
        (such as a new framework with Angular, new languages with TypeScript and SCSS,
        new concepts such as unit testing, browser routing, Electron application bundling, Docker containerization, etc.).
      </p>
      <p>
        Second, I originally thought of the general idea for this web application
        (themeing and functionality similar to Windows 95) in 2023, while I was still in college.
        Unfortunately for me, I was not the first to come up with the idea of creating a website with this theme,
        but that gave me the motivation to create the best version of a Windows 95 themed website I had ever used.
        I hope I have achieved this goal, but that is up for any users to decide.
      </p>
      <p>
        Finally, I have always liked the visual style of Windows 95,
        which is part of the reason I chose to style this web application around that theme.
        But the idea of creating a web application that felt like using an operating system
        brought fourth numerous expected and unexpected challenges, all of which taught me new skills,
        programming techniques, and general aspects of software design. People tend to say that one
        of the best ways to learn software design is by creating a clone of another piece of software,
        so I chose an operating system for the numerous logic and design challenges I would have to face.
      </p>
    </section>

    <section class="post-release-features">
      <h2>Post Release Features:</h2>
      <p>This section will be updated when big features are added after initial release.</p>
    </section>
  </main>
</article>
