@use "../../styles.scss" as *;
@use "../../font.scss" as *;

@mixin site-common() {
  height: calc(100% - 8px);
  padding: 12px;
  @include set-font();

  header {
    h1 {
      margin: 0px 0px 12px 0px;
    }
  }

  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  .badges {
    display: flex;
    gap: 4px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 8px 0px 16px 0px;

    img {
      border: 1px solid black;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  main {
    section {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &.dark-mode {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figcaption,
    li,
    em,
    b,
    time,
    summary,
    th,
    td,
    math {
      color: white;
    }

    a {
      color: #00a2e7;

      &:hover {
        color: #f34399;
      }

      &:visited {
        color: #f34399;
      }
    }

    .badges {
      img {
        border-color: white;
      }
    }
  }
}

@mixin set-font() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figcaption,
  a,
  a-ie,
  ie-route,
  li,
  em,
  b,
  time,
  summary,
  th,
  td {
    font-family: Georgia, "Times New Roman", Times, serif;
    @include font-readability();
  }
}

@mixin site-mobile-support($max-width) {
  @media (max-aspect-ratio: 1/1) {
    max-width: $max-width;
  }
}
