@use "../../styles.scss" as *;

@mixin site-common() {
  // TODO set font-size, font family
  height: calc(100% - 8px);
  padding: 8px;
}

@mixin site-mobile-support($max-width) {
  @media (max-aspect-ratio: 1/1) {
    max-width: $max-width;
  }
}
