$win-95-grey: #c0c0c0;
$win-95-dark-cyan: #007d80;
$win-95-highlight: #05037f;

$taskbar-item-border-black: #7f7f7f;
$taskbar-item-border-white: #e6e6e6;

$calculator-label-blue: #1919F6;
$calculator-label-dark-blue: #323291;
$calculator-label-red: #FA0D0D;
$calculator-label-dark-red: #800000;
