$win-95-grey: #c0c0c0;
$win-95-dark-cyan: #007d80;
$win-95-highlight: #05037f;
$win-95-divider-top: #8a8a8a;
$win-95-divider-bottom: #f1f1f1;

$taskbar-item-border-black: #7f7f7f;
$taskbar-item-border-white: #e6e6e6;

$calculator-label-blue: #1919f6;
$calculator-label-dark-blue: #323291;
$calculator-label-red: #fa0d0d;
$calculator-label-dark-red: #800000;
$calculator-label-gray: #a2a2a2;
