// TODO refine to print site content perfectly

@media print {
  .print-selection {
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;
  }

  .app-wrapper {
    display: none !important;
  }
}

@mixin test-print() {
  .print-selection {
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;
  }

  .app-wrapper {
    display: none !important;
  }
}
