// TODO refine to print site content perfectly

@media print {
  body * { visibility: hidden }

  .print-selection,
  .print-selection[_ngcontent] {
    visibility: visible;
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;

    * {
      visibility: visible;
      max-height: none !important;
      height: auto !important;
      overflow: visible !important;
    }
  }
}
