@mixin test-print() {
  .print-selection {
    display: block !important;
    max-height: none !important;
    height: auto !important;
    overflow: visible !important;
    position: absolute !important;
  }

  .app-wrapper {
    display: none !important;
  }
}

@media print {
  @include test-print();
}
