@font-face {
  font-family: W95FA;
  src: url('/fonts/w95fa.woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: W95FA;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}
