// ! Common
@mixin icon-common {
  pointer-events: none;
  user-select: none;
}

@mixin text-common {
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  font-smooth: never;
}

@mixin control-button-common {
  background-color: #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-style: outset;
  border-color: white black black white;

  &:active {
    border-style: inset;
    border-color: black white white black;
  }
}

// ! Desktop Environment
@mixin window-frame-common {
  // Used in program windows and alerts

}

// ! Start Menu
@mixin start-menu-object {
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  height: 100%;

  img {
    @include icon-common();
    width: 32px;
  }

  p {
    @include text-common();
  }

  &:hover {
    background-color: #000c79; // TODO change to actual color

    p {
      color: white;
    }
  }
}

// ! Taskbar
$taskbar-item-border-black: #7f7f7f;
$taskbar-item-border-white: #e6e6e6;

@mixin taskbar-item-common {
  display: block;
  border-width: 2px;
  height: 24px;
}

@mixin taskbar-item-text {
  @include text-common();
  font-size: 18px;
  color: black;
}

@mixin taskbar-item-icon {
  @include icon-common();
  height: 22px;
}

@font-face {
  font-family: W95FA;
  src: url('/fonts/w95fa.woff');
  font-weight: normal;
  font-style: normal;
}


// ! HTML
* {
  font-family: W95FA;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}
