// ! Common
$win-95-grey: #c0c0c0;
$win-95-dark-cyan: #007d80;
$win-95-highlight: #05037f;

@mixin icon-common {
  pointer-events: none;
  user-select: none;
}

@mixin text-common {
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-smooth: never;
}

@mixin allow-user-select {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  // TODO might need to fix some Safari / GNOME Web specific bugs eventually.
}

// ! Buttons

@mixin control-button-common {
  @include text-common();
  background-color: $win-95-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-style: outset solid solid outset;
  border-color: white black black white;
  padding: 4px 0px;

  &:active {
    border-style: solid inset inset solid;
    border-color: black white white black;
  }

  > span {
    width: 90%;
    height: 100%;
    align-content: center;
    border: 1px transparent dotted;

    &:active {
      border-color: black;
    }

    > span {
      text-decoration: underline;
      border: none;
    }
  }
}

// ! Programs
@mixin program-common {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;

  ::ng-deep * {
    pointer-events: all;
  }

  * {
    margin: 0; // ? Cancels out a default margin being put in by some tags
  }

  window-frame {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.active {
      z-index: 99999999;
    }
  }


  // TODO add support for various starting positions of window-frame. If I can input number into mixin, then 0 is center, 1 is top middle, go around clock wise 1 - 8
}

@mixin frame-contents-common {
  width: 100%;
  height: 100%;
  background-color: $win-95-grey;
}

// ! Alert
@mixin alert-common {
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  window-frame {
    display: block;
    width: min(400px, 75%);
  }
}

// ! Start Menu
@mixin start-menu-object {
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  height: 100%;

  img {
    @include icon-common();
    width: 32px;
  }

  p {
    @include text-common();
  }

  &:hover, &:active {
    background-color: $win-95-highlight;

    p {
      color: white;
    }
  }
}

// ! Taskbar
$taskbar-item-border-black: #7f7f7f;
$taskbar-item-border-white: #e6e6e6;

@mixin taskbar-item-common {
  display: block;
  border-width: 2px;
  height: 24px;
}

@mixin taskbar-item-text {
  @include text-common();
  font-size: 18px;
  color: black;
}

@mixin taskbar-item-icon {
  @include icon-common();
  height: 22px;
}

@font-face {
  font-family: W95FA;
  src: url("../public/fonts/w95fa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ! Mobile

@mixin mobile-viewport {
  @media (max-aspect-ratio: 1/1) {
    width: 90%;
    height: 80%;
  }
}

// ! HTML
* {
  font-family: W95FA;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

::-moz-selection {
  color: white;
  background: $win-95-highlight;
}

::selection {
  color: white;
  background: $win-95-highlight;
}
