@use "./print.scss" as *;
@use "./colors.scss" as *;

// ! Common

@mixin icon-common {
  pointer-events: none;
  user-select: none;
}

@mixin text-common {
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-smooth: never;
}

@mixin allow-user-select {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

@font-face {
  font-family: W95FA;
  src: url("../../public/fonts/w95fa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// ! HTML
* {
  font-family: W95FA;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}

p {
  margin: 0;
}

menu {
  padding: 0;
  margin: 0;
}

::-moz-selection {
  color: white;
  background: $win-95-highlight;
}

::selection {
  color: white;
  background: $win-95-highlight;
}
