@use "../../../../../scss/colors.scss";

.calculator-button-wrapper {
  p {
    &.blue {
      color: colors.$calculator-label-blue;
    }

    &.dark-blue {
      color: colors.$calculator-label-dark-blue;
    }

    &.red {
      color: colors.$calculator-label-red;
    }

    &.dark-red {
      color: colors.$calculator-label-dark-red;
    }

    &.gray {
      color: colors.$calculator-label-gray;
    }
  }
}
