<!-- prettier-ignore -->
<div class="error-site-wrapper" [class.dark-mode]="IEService.darkMode()">
  <header>
    <div class="top">
      <img src="assets/icons/internet-explorer/connection-issue.webp" alt="connection issue icon" />
      <h1>The page cannot be displayed</h1>
    </div>
    <p>The page you are looking for is currently unavailable. The Web site might be experiencing technical difficulties, does not exist, or the URL entered into the address bar may not be correct.</p>
  </header>
  <div class="bar"></div>
  <main>
    <p>Please try the following:</p>
    <ul>
      <li>
        Click the
        <span><img src="assets/icons/internet-explorer/gray-refresh-button.svg" alt="refresh button icon" /></span>
        Refresh button, or try again later.
      </li>
      <li>If you typed the page address in the Address bar, make sure that it is spelled correctly.</li>
      <li>If you are sure you typed in the proper address, try to select it in the favorites list (accessible by clicking the favorites button above).</li>
      <li>Ensure the proper route paramater is applied to the internet-explorer parameter in your browser's URL bar.</li>
    </ul>
  </main>
</div>
