@use "../sites.scss" as *;

.error-site-wrapper {
  @include site-common();
  max-width: 75%;
  padding: 24px;
  @include site-mobile-support(75%);

  header {
    .top {
      display: flex;
      gap: 8px;
      margin-bottom: 12px;

      h1 {
        margin: 0;
      }
    }
  }

  main {
    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 4px;
        }

        span {
          img {
            width: 16px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
