@use "../../colors.scss" as *;
@use "../../styles.scss" as *;

@mixin control-button-common {
  @include text-common();
  background-color: $win-95-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border-style: outset solid solid outset;
  border-color: white #7d7c7c #7d7c7c white;
  padding: 4px 0px;

  &:active {
    border-style: solid inset inset solid;
    border-color: #7d7c7c white white #7d7c7c;
  }

  > span {
    width: 90%;
    height: 100%;
    align-content: center;
    border: 1px transparent dotted;

    &:active {
      border-color: black;
    }

    > span {
      text-decoration: underline;
      border: none;
    }
  }
}
