@use "../../scss/colors.scss" as *;

// ! Programs
@mixin program-common {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;

  ::ng-deep * {
    pointer-events: all;
  }

  * {
    margin: 0; // ? Cancels out a default margin being put in by some tags
  }

  window-frame {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.active {
      z-index: 99999999;
    }
  }
}

@mixin frame-contents-common {
  width: 100%;
  height: 100%;
  background-color: $win-95-grey;
}

@mixin mobile-viewport {
  @media (max-aspect-ratio: 1/1) {
    width: 90%;
    height: 80%;
  }
}
